<div class="top mainframe" *ngIf="!userState.get('isEditing')">
  <div class="pull-left">
    <div class="dropdown">
      <app-twiglet-dropdown [twiglets]="twiglets" [models]="models" [twiglet]="twiglet" [userState]="userState"></app-twiglet-dropdown>      
    </div>
    <div class="new-button">
      <button class="clickable" (click)="createNewTwiglet()" *ngIf="userState.get('user')" ngbTooltip="New Twiglet" placement="right">+</button>      
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="pull-right" *ngIf="userState.get('mode') === 'twiglet'">
   <button class="button btn-sm"  (click)="startEditing()">Edit</button>
  </div>
  <div class="pull-right inputs">
    <div class="input">
      <label class="form-check-label" ngbTooltip="Uncheck to stop graph from updating node locations" placement="bottom">
        <input class="form-check-input" type="checkbox" [checked]="userState.get('renderOnEveryTick')" (change)="setRenderEveryTick($event)">
        Render Every Tick
      </label>
    </div>
    <div class="input">
      <label class="form-check-label" ngbTooltip="Uncheck to stop simulation of node movements" placement="bottom">
        <input class="form-check-input" type="checkbox" [checked]="userState.get('runSimulation')" (change)="setRunSimulation($event)">
        Run Simulation
      </label>
    </div>
  </div>
</div>
<div class="top" *ngIf="userState.get('isEditing')">
  <div>
    <div class="pull-left" >
      <h4>{{ twiglet.get('name') }}</h4>
    </div>
    <div class="pull-right">
      <button (click)="discardChanges()">Cancel</button>
      <button *ngIf="!userState.get('editTwigletModel')" (click)="saveTwiglet()" >Save</button>
      <button *ngIf="userState.get('editTwigletModel')" (click)="saveTwigletModel()">Save</button>
    </div>
    <hr>
  </div>
  <div>
    <span (click)="toggleTwigletEditing()" [class]="getTwigletTabClass()">Twiglet</span>
    <span (click)="toggleTwigletModelEditing()" [class]="getTwigletModelTabClass()">Twiglet's Model</span>
  <div>
  <app-header-twiglet-edit [twiglet]="twiglet" [twigletModel]="twigletModel" [twiglets]="twiglets" [userState]="userState"></app-header-twiglet-edit>
</div>
