<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Twiglet</button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <a class="dropdown-item" href="#" (click)="openNewModal()">New Twiglet</a>
        <hr>
        <a class="dropdown-item" *ngFor="let twiglet of twiglets" (click)="loadTwiglet(twiglet._id, twiglet.name)"
          href="#">{{ twiglet.name }}</a>
      </ul>
    </div>
  </div>
</div>
