<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-secondary" id="dropdownMenu1" ngbDropdownToggle>Twiglet</button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="dropdown-item clickable" (click)="openNewModal()">New Twiglet</li>
        <hr>
        <li class="dropdown-item twiglet-list-item" *ngFor="let twiglet of twiglets">
          <span class="clickable" (click)="loadTwiglet(twiglet.get('name'))">{{ twiglet.get('name') }}</span>
          <span class="pull-right">
            <button class="button" (click)="cloneTwiglet(twiglet)">Clone</button>
            <button class="button warning" (click)="deleteTwiglet(twiglet.get('name'))">Delete</button>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
