@import './node_modules/zzzss/scss/_colors.scss';

:host {
  .form-row {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 100%;
  }
  .info-header {
    display: flex;
    flex: 0 0 45px;
    font-weight: 800;
    font-size: 20px;
  }

  .fill-up {
    flex: 1;
    overflow-y: scroll;
  }

  .clickable {
    cursor: pointer;
  }

  .entity-row:nth-child(even) {
    background-color: $light-gray;
  }

  .attribute-row:nth-child(even) {
    :not(:first-child) {
      background-color: $gray;
      color: white;
    }
  }
}
