@import '../../../styles_colors';

:host {
  max-width: 100%;
  min-width: 100%;

  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    min-width: 100%;
    width: 100%;
  }

  .info-header {
    font-size: 20px;
    font-weight: 800;
  }

  .clickable {
    cursor: pointer;
  }

  .entity-row {
    :nth-child(even) {
      background-color: $model-info-entity-row-even-child-background;
    }
  }

  .attribute-row {
    :nth-child(even) {
      :not(:first-child) {
        background-color: $model-info-entity-attribute-even-child-background;
        color: $model-info-entity-attribute-even-child-color;
      }
    }
  }
}
