input, textarea {
  box-sizing: border-box;
}

label {
  margin-top: 3px;
  width: 40px;
  vertical-align: top;
}

.mini-form {
  line-height: 0.85;
}

.alert-sm {
  padding: 2px;
  text-align: center;
}
