<form [formGroup]="form" *ngIf="userState.isEditing">
  <div class="mini-form">
    <label for="name">Name:</label>
    <input type="text" name="name" formControlName="name" required>
    <div *ngIf="formErrors.name" class="alert-sm alert-danger" >
      {{ formErrors.name }}
    </div>
  </div>
  <div class="mini-form">
    <label for="name">Desc:</label>
    <textarea name="description" formControlName="description"></textarea>
  </div>
</form>
<div class="btn-group">
  <button class="btn btn-secondary" (click)="startEditing()" *ngIf="!userState.isEditing"><i class="fa fa-pencil"></i></button>
  <button class="btn btn-success btn-sm" (click)="saveTwiglet()" *ngIf="userState.isEditing"><i class="fa fa-check"></i></button>
  <button class="btn btn-danger btn-sm" (click)="discardChanges()" *ngIf="userState.isEditing"><i class="fa fa-times"></i></button>
</div>
