:host {
  .dropdown-menu {
    max-height: 300px;
    width: 80vw;
    overflow-x: auto;
    padding: 0;
    box-sizing: border-box;
  }

  .modal-body {
    overflow-x: auto;
    padding: 0;
  }

  table{
    height:300px;
  }
  tbody{
    overflow-y: scroll;
    height: 250px;
    width: 100%;
    position: absolute;
  }

  .nowrap {
    white-space: nowrap;
  }

  .strikeout {
    text-decoration: line-through;
  }
}
