:host {
  .dropdown-menu {
    box-sizing: border-box;
    max-height: 300px;
    overflow-x: auto;
    padding: 0;
    width: 80vw;
  }

  .modal-body {
    overflow-x: auto;
    padding: 0;
  }

  table {
    height: 300px;
  }

  tbody {
    height: 250px;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
  }

  .nowrap {
    white-space: nowrap;
  }

  .strikeout {
    text-decoration: line-through;
  }
}
