<div class="modal-header">
  <h4 class="modal-title">Clone {{ modelName }}</h4>
  <button type="button" class="close clickable" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="form" (ngSubmit)="processForm()">
  <div class="modal-body">
    <div class="form-group">
      <label for="name" class="control-label">Name: </label>
      <input #autofocus type="text" formControlName="name" class="form-control">
      <ngb-alert class="alert" [dismissible]="false" type="danger" *ngIf="formErrors.name">{{ formErrors.name }}</ngb-alert>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="button btn-sm btn-secondary clickable" (click)="activeModal.close('Close click')">Close</button>
    <button type="submit" class="button btn-sm clickable" [disabled]="formErrors.name !== ''">Save Changes</button>
  </div>
</form>

