<app-header-info-bar></app-header-info-bar>
<div id="headerFlexBox">
  <ngb-tabset>
    <ngb-tab *ngIf="!userState.get('isEditing')" title="Twiglet">
      <template ngbTabContent>
        <app-header-twiglet></app-header-twiglet>
      </template>
    </ngb-tab>
    <ngb-tab title="Edit" *ngIf="twiglet.get('_id')">
      <template ngbTabContent>
        <app-header-edit></app-header-edit>
      </template>
    </ngb-tab>
    <ngb-tab title="View">
      <template ngbTabContent>
        <app-header-view></app-header-view>
      </template>
    </ngb-tab>
      <ngb-tab title="Environment" *ngIf="!userState.get('isEditing')">
      <template ngbTabContent>
        <app-header-environment></app-header-environment>
      </template>
    </ngb-tab>
    <ngb-tab title="Simulation" *ngIf="!userState.get('isEditing')">
      <template ngbTabContent>
        <app-header-simulation-controls></app-header-simulation-controls>
      </template>
    </ngb-tab>
  </ngb-tabset>
  <app-login-button></app-login-button>
</div>

