@import './node_modules/zzzss/scss/_colors.scss';

:host {
  background-color:#f5f5f5;
  #headerFlexBox {
    display: flex;
  }
  ngb-tabset {
    flex: 1;
  }
}

:host /deep/ .nav-link {
  line-height: 1;
}

:host /deep/ .nav-link.active {
  color: $brand-colour-white;
  background-color: #299baf;
  border-bottom: 2px solid white;
}

:host /deep/ .nav-link {
  color: #299baf;
}

:host /deep/ .button {
  line-height: 0.85;
}

:host /deep/ .control-group {
  display: inline-block;
  vertical-align: top;
}

:host /deep/ .bottom {
  vertical-align: bottom;
}

:host /deep/ .divider-line {
  margin-top: 5px;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  height: 50px;
  border-left: 2px solid #888888;
}
