<app-header-info-bar [twiglet]="twiglet" [userState]="userState" [model]="model"></app-header-info-bar>
<div id="headerFlexBox">
  <ngb-tabset [activeId]="userState.get('mode') + 'Tab'">
    <ngb-tab *ngIf="!userState.get('isEditing')" title="Twiglet" id="twigletTab">
      <template ngbTabContent>
        <app-header-twiglet
            [twiglet]="twiglet"
            [userState]="userState"
            [twiglets]="twiglets"
            [models]="models"
            [twigletChangelog]="twigletChangelog"
        ></app-header-twiglet>
      </template>
    </ngb-tab>
    <ngb-tab *ngIf="!userState.get('isEditing')" title="Model" id="modelTab">
      <template ngbTabContent>
        <app-header-model
            [models]="models"
            [model]="model"
            [userState]="userState"
            [modelChangelog]="modelChangelog"
        ></app-header-model>
      </template>
    </ngb-tab>
    <ngb-tab title="Edit" *ngIf="userState.get('mode').startsWith('twiglet') && userState.get('user')">
      <template ngbTabContent>
        <app-header-edit [twiglet]="twiglet" [twigletModel]="twigletModel" [twiglets]="twiglets" [userState]="userState"></app-header-edit>
      </template>
    </ngb-tab>
    <ngb-tab title="Edit" *ngIf="userState.get('mode') === 'model' && userState.get('user')">
      <template ngbTabContent>
        <app-header-model-edit [model]="model" [models]="models" [userState]="userState"></app-header-model-edit>
      </template>
    </ngb-tab>
    <ngb-tab title="View" *ngIf="userState.get('mode') === 'twiglet'">
      <template ngbTabContent>
        <app-header-view [userState]="userState" [twigletModel]="twigletModel"></app-header-view>
      </template>
    </ngb-tab>
      <ngb-tab title="Environment" *ngIf="!userState.get('isEditing') && userState.get('mode') === 'twiglet'">
      <template ngbTabContent>
        <app-header-environment [userState]="userState"></app-header-environment>
      </template>
    </ngb-tab>
    <ngb-tab title="Simulation" *ngIf="!userState.get('isEditing') && userState.get('mode') === 'twiglet'">
      <template ngbTabContent>
        <app-header-simulation-controls [userState]="userState"></app-header-simulation-controls>
      </template>
    </ngb-tab>
  </ngb-tabset>
</div>

