<div class="overflow-scroll twiglet-left">
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel title="Filter">
      <ng-template ngbPanelContent>
        <app-twiglet-filters *ngIf="userState.get('activeTab') !== 'events'" [userState]="userState" [twiglet]="twiglet"></app-twiglet-filters>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="View" *ngIf="!userState.get('isEditing')">
      <ng-template ngbPanelContent>
        <app-header-view [userState]="userState" [twiglet]="twiglet" [views]="views"></app-header-view>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Environment">
      <ng-template ngbPanelContent>
        <app-header-environment [userState]="userState" [twigletModel]="twigletModel"></app-header-environment>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Simulation" *ngIf="!userState.get('isEditing')">
      <ng-template ngbPanelContent>
        <app-header-simulation-controls [userState]="userState"></app-header-simulation-controls>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Events" *ngIf="!userState.get('isEditing')">
      <ng-template ngbPanelContent>
        <app-header-events [sequences]="sequences" [userState]="userState"></app-header-events>
        <app-events-list [eventsList]="eventsList" [sequences]="sequences" [userState]="userState"></app-events-list>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Details" *ngIf="!userState.get('isEditing')">
      <ng-template ngbPanelContent>
        <app-twiglet-details [twiglet]="twiglet" [userState]="userState"></app-twiglet-details>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
