:host {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
  max-height: 100%;  
  input {
    flex: 0 0 30px;
  }
  .overflow-scroll {
    flex: 1;
    min-height: 0;
    max-height: 100%;
    overflow: scroll;
  }
  .mini-row {
    display: flex;
  }
}
