<div class="overflow-scroll twiglet-left" *ngIf="!userState.get(USERSTATE.IS_EDITING)">
  <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" *ngIf="twiglet.get(TWIGLET.NAME)">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        Filter
        <i class="fa fa-question-circle float-right" [appDismissibleHelp]="helpText" placement="right-top">
          <ng-template #helpText>
            <p><strong>Filters</strong> - The Filters panel may be used to drill down into your Twiglet.</p>
            <ul>
              <li><strong>Node Type</strong> - specifies which type of nodes to show. All other node types will be hidden from view.</li>
              <li><strong>Target</strong> - identifies a specific child node type to show, in relationship to the originally selected node
                type.</li>
              <li><strong>Filter by Depth</strong> - describes the level of child nodes to show in the overall parent-child node chain.
                Subsequent nodes will be hidden. Depth is most accurate and relevant for “Tree Mode,” a setting under Environment to
                show nodes in direct parent-child relationships.</li>
            </ul>
          </ng-template>
        </i>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-twiglet-filters [userState]="userState" [viewData]="viewData"[twiglet]="twiglet"></app-twiglet-filters>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Gravity">
      <ng-template ngbPanelContent>
        <app-twiglet-gravity [userState]="userState" [viewData]="viewData"></app-twiglet-gravity>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Environment">
      <ng-template ngbPanelContent>
        <app-environment-controls [viewData]="viewData" [userState]="userState"></app-environment-controls>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Simulation">
      <ng-template ngbPanelContent>
        <app-simulation-controls [viewData]="viewData" [userState]="userState"></app-simulation-controls>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Events" *ngIf="!this.userState.get(USERSTATE.IS_EDITING_VIEW)">
      <ng-template ngbPanelContent>
        <app-twiglet-events [sequences]="sequences" [userState]="userState" [eventsList]="eventsList"></app-twiglet-events>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Details" *ngIf="!this.userState.get(USERSTATE.IS_EDITING_VIEW)">
      <ng-template ngbPanelContent>
        <app-twiglet-details [twiglet]="twiglet" [userState]="userState"></app-twiglet-details>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
<div class="overflow-scroll twiglet-left card" *ngIf="userState.get(USERSTATE.IS_EDITING)">
  <div class="clearfix toggle-group">
    <app-toggle-button
      [checkedBool]="viewData.get(VIEW_DATA.SHOW_NODE_LABELS)"
      actionString="twiglet.viewService.setShowNodeLabels"
      ></app-toggle-button>
    <label class="pull-left">Node Labels</label>
  </div>

  <div class="toggle-group clearfix">
    <app-toggle-button
      [checkedBool]="viewData.get(VIEW_DATA.SHOW_LINK_LABELS)"
      actionString="twiglet.viewService.setShowLinkLabels"
      ></app-toggle-button>
    <label class="pull-left">Link Labels</label>
  </div>

  <div class="clearfix toggle-group">
    <app-toggle-button
      [checkedBool]="viewData.get(VIEW_DATA.LINK_TYPE) === 'path' ? false : true"
      actionString="twiglet.viewService.setLinkType"
      label="linkType"
      ></app-toggle-button>
    <label class="pull-left">Directional Links</label>
  </div>
</div>
