:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: scroll;

  .show {
    display: flex;
  }

  .no-show {
    display: none;
  }

  app-header-twiglet {
    display: float;
    z-index: 2;
  }

  app-twiglet-graph {
    display: float;
    z-index: 1;
  }
}
