:host {
  flex: 1;
  max-height: calc(100vh - 100px);

  .show {
    display: flex;
  }

  .mainframe {
    display: flex;
    flex-direction: column;
  }

  .no-show {
    display: none;
  }

  app-header-twiglet {
    flex: 0;
    z-index: 2;
  }

  app-twiglet-graph {
    flex: 1;
    z-index: 1;
  }
}
