version: '2'
services:
  nginx:
    restart: always
    image: ${registryBase}/twig2:${tag}
    labels:
      - convox.port.443.protocol=https
    ports:
      - 80
      - 443:80
    environment:
      - NODE_ENV=production
