<div class="modal-header">
  <h4 class="modal-title" *ngIf="viewUrl">Overwrite {{ originalName }}</h4>
  <h4 class="modal-title" *ngIf="!viewUrl">Create New View</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form>
  <div class="modal-body">
    <div class="form-group">
      <label for="name" class="control-label">*Name:</label>
      <input type="text" class="form-control" name="name" required [(ngModel)]="name">
      <div *ngIf="formErrors.name" class="alert-danger form-control" >
        {{ formErrors.name }}
      </div>
    </div>
    <div class="form-group">
      <label for="description" class="control-label">Description:</label>
      <input type="text" class="form-control" name="description" [(ngModel)]="description">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="button" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" class="button" (click)="processForm()">Save</button>
  </div>
</form>
