<form [formGroup]="form">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Color</th>
        <th>Size</th>
        <th colspan="2">Icon</th>
      </tr>
    </thead>
    <tbody formArrayName="entities">
        <tr *ngFor="let entity of form.controls.entities.controls; let i = index" [formGroupName]="i">
        <td (click)="removeEntity(i)"><i class="fa fa-minus-circle"></i></td>
        <td>
          <input type="text" formControlName="type" class="form-control">
        </td>
        <td>
          <input type="color" formControlName="color">
        </td>
        <td>
          <input type="number" formControlName="size" class="form-control">
        </td>
        <td>
          <app-font-awesome-icon-picker [entity]="entity.controls"></app-font-awesome-icon-picker>
        </td>
        <td [style.color]="entity.controls.color.value">
          <i class="fa fa-{{entity.controls.class.value}} fa-2x"></i>
        </td>
      </tr>
     </tbody>
     <tbody>
      <tr formGroupName="blankEntity">
        <td></td>
        <td>
          <input type="text" formControlName="type" class="form-control">
          <ngb-alert class="alert" [dismissible]="false" type="danger" *ngIf="errorMessageType">{{ errorMessageType }}</ngb-alert>
        </td>
        <td>
          <input type="color" formControlName="color">
        </td>
        <td>
          <input type="number" formControlName="size" class="form-control">
        </td>
        <td>
          <app-font-awesome-icon-picker [entity]="form.controls.blankEntity.controls"></app-font-awesome-icon-picker>
          <ngb-alert class="alert" [dismissible]="false" type="danger" *ngIf="form.controls.blankEntity.controls['class'].hasError('required') && errorMessageClass">{{ errorMessageClass }}</ngb-alert>
        </td>
        <td [style.color]="form.controls.blankEntity.controls.color.value">
          <i class="fa fa-{{form.controls.blankEntity.controls.class.value}} fa-2x"></i>
        </td>
      </tr>
      <tr>
        <button class="btn btn-link" (click)="addEntity()">Add Entity</button>
      </tr>
    </tbody>
  </table>
</form>
