<div class="top-row">
  <app-font-awesome-toggle-button
    icon="pencil"
    checkedString="userState/isEditing"
    actionString="userState.setEditing"
    ngbTooltip="toggle edit mode"
    placement="right"
    container="body"
    *ngIf="!userState.isEditing">
  </app-font-awesome-toggle-button>
  <button class="btn-success" *ngIf="userState.isEditing"><i class="fa fa-check"></i></button>
  <button class="btn-danger" (click)="discardChanges()" *ngIf="userState.isEditing"><i class="fa fa-times"></i></button>
  <app-copy-paste-node></app-copy-paste-node>
</div>
<div class="flex-across">
    <div style="flex: 0 0 200px;"></div>
    <div style="flex: 1; justify-content: center;" class="flex-across">
      <app-add-node-by-dragging-button *ngFor="let entity of model.entities | keyValues"
        [entity]="entity">
      </app-add-node-by-dragging-button>
    </div>
    <div style="flex: 0 0 200px;"></div>
</div>
