<div class="control-group" *ngIf="userState.get('isEditing')">
  <div class="control-group" *ngIf="!userState.get('editTwigletModel')">
    <app-edit-twiglet-details [twiglets]="twiglets" [twiglet]="twiglet" [userState]="userState"></app-edit-twiglet-details>
  </div>
  <div class="divider-line" *ngIf="!userState.get('editTwigletModel')"></div>
  <div class="control-group" *ngIf="!userState.get('editTwigletModel')">
    <app-copy-paste-node [userState]="userState" [nodes]="twiglet.get('nodes')"></app-copy-paste-node>
  </div>
  <div class="divider-line" *ngIf="!userState.get('editTwigletModel')"></div>
  <div class="control-group bottom" *ngIf="!userState.get('editTwigletModel')">
      <app-add-node-by-dragging-button *ngFor="let entity of twigletModel.get('entities').values()"
      [entity]="entity" [userState]="userState">
      </app-add-node-by-dragging-button>
  </div>
  <div class="divider-line" *ngIf="!userState.get('editTwigletModel')"></div>
</div>
<div class="control-group">
  <app-edit-mode-button [userState]="userState" [twigletModel]="twigletModel" [twigletName]="twiglet.get('name')"></app-edit-mode-button>
</div>
