<div class="modal-header">
  <h4 class="modal-title">Create New Model</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="form">
  <div class="modal-body">
    <div class="form-group">
      <label for="name" class="control-label">Name: </label>
      <input type="text" formControlName="name" class="form-control">
      <ngb-alert class="alert" [dismissible]="false" type="danger" *ngIf="formErrors.name">{{ formErrors.name }}</ngb-alert>
    </div>
    <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Type</th>
        <th>Color</th>
        <th>Size</th>
        <th colspan="2">Icon</th>
      </tr>
    </thead>
    <tbody formArrayName="entities">
        <tr *ngFor="let entity of form.controls.entities.controls; let i = index" [formGroupName]="i">
        <td (click)="removeEntity(i)"><i class="fa fa-minus-circle"></i></td>
        <td>
          <input type="text" formControlName="type" class="form-control">
          <ngb-alert class="alert" [dismissible]="false" type="danger" *ngIf="entity.dirty && entity.invalid">{{ validationMessages.type.required }}</ngb-alert>
        </td>
        <td>
          <input type="color" formControlName="color">
        </td>
        <td>
          <input type="number" formControlName="size" class="form-control">
        </td>
        <td>
          <app-font-awesome-icon-picker [entity]="entity.controls"></app-font-awesome-icon-picker>
        </td>
        <td [style.color]="entity.controls.color.value">
          <i class="fa fa-{{entity.controls.class.value}} fa-2x"></i>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr formGroupName="blankEntity">
        <td></td>
        <td>
          <input type="text" formControlName="type" class="form-control">
          <ngb-alert class="alert" [dismissible]="false" type="danger" *ngIf="blankEntityFormErrors.type">{{ blankEntityFormErrors.type }}</ngb-alert>
        </td>
        <td>
          <input type="color" formControlName="color">
        </td>
        <td>
          <input type="number" formControlName="size" class="form-control">
        </td>
        <td>
          <app-font-awesome-icon-picker [entity]="form.controls.blankEntity.controls"></app-font-awesome-icon-picker>
          <ngb-alert class="alert" [dismissible]="false" type="danger" *ngIf="form.controls.blankEntity.controls['class'].hasError('required') && blankEntityFormErrors.class">{{ blankEntityFormErrors.class }}</ngb-alert>
        </td>
        <td [style.color]="form.controls.blankEntity.controls.color.value">
          <i class="fa fa-{{form.controls.blankEntity.controls.class.value}} fa-2x"></i>
        </td>
      </tr>
      <tr>
        <button class="btn btn-link" (click)="addEntity()" [disabled]="form.controls.blankEntity.invalid">Add Entity</button>
      </tr>
    </tbody>
  </table>
  <ngb-alert class="alert" [dismissible]="false" type="danger" *ngIf="formErrors.entities">{{ formErrors.entities }}</ngb-alert>
  </div>
  <div class="modal-footer">
    <button type="button" class="button" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" class="button" (click)="processForm()" [disabled]="formErrors.entities || formErrors.name">Save Changes</button>
  </div>
</form>
