@import '../../../styles_colors';

:host {
  display: none;
  flex: 1;
  margin-top: 20px;

  .alert {
    margin: 3px;
  }

  .fa-trash,
  .fa-plus-square-o,
  .clickable {
    cursor: pointer;
  }

  .fa-arrows-v {
    cursor: move;
  }

  form {
    height: 100%;
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
    max-height: 90%;
    max-width: 100%;
    min-height: 50%;
    width: 100%;
  }

  .info-header {
    display: flex;
    flex: 0 0 45px;
    font-size: 20px;
    font-weight: 800;
  }

  .fill-up {
    flex: 1;
    overflow: scroll;
  }

  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    min-width: 100%;
    width: 100%;

    &.entity-row {
      .form-row {
        padding-top: 10px;
      }
    }
  }
}
