@import '../../../styles_colors';

:host {
  .top {
    height: 50px;
    width: 100%;
  }

  .dropdown {
    float: left;
  }

  .new-button {
    float: left;
    margin-left: 10px;
    padding-right: 10px;
  }

  .clearfix {
    clear: both;
  }

  .clickable {
    cursor: pointer;
  }

  hr {
    margin: 3px;
  }

  .edit-btn {
    border-left: 1px solid $buildit-medltgray;
  }

  .section {
    padding-left: 10px;
  }
}
