<div class="top" *ngIf="!userState.get('isEditing')">
  <div class="pull-left">
    <div class="dropdown">
      <app-model-dropdown [models]="models" [model]="model" [userState]="userState"></app-model-dropdown>
    </div>
    <div class="new-button">
      <button class="clickable button no-margin btn-sm" (click)="createNewModel()" *ngIf="userState.get('user')" gbTooltip="New Model" placement="right">+</button>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="pull-right" *ngIf="userState.get('mode') === 'model'">
    <button class="button btn-sm" (click)="startEditing()">Edit</button>
  </div>
</div>
<div class="top" *ngIf="userState.get('isEditing')">
  <div class="pull-left">
    <h4>{{ model.get('name') }}</h4>
  </div>
  <div class="pull-right">
    <button (click)="discardChanges()">Cancel</button>
    <button (click)="saveModel()" [disabled]="!userState.get('formValid')">Save</button>
  </div>
</div>