.top {
  width: 100%;
  height: 50px;
}

.dropdown {
  float: left;
}

.new-button {
  float: left;
  margin-left: 10px;
}

.clearfix {
  clear: both;
}

.clickable {
  cursor: pointer;
}

hr {
  margin: 3px;
}
