<div class="top" *ngIf="!userState.get('isEditing')">
  <div class="pull-left">
    <div class="dropdown">
      <app-model-dropdown [models]="models" [model]="model" [userState]="userState"></app-model-dropdown>
    </div>
    <div class="new-button">
      <button class="clickable button no-margin btn-sm" *ngIf="userState.get('user')" (click)="createNewModel()" gbTooltip="New Model" placement="right">
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="pull-right" *ngIf="userState.get('mode') === 'model'">
    <button class="button btn-sm no-margin" *ngIf="model.get('entities').size === 0" (click)="startEditing()">Add Entities</button>    
    <button class="button btn-sm no-margin" *ngIf="model.get('entities').size > 0" (click)="startEditing()">Edit</button>
  </div>
</div>
<div class="top" *ngIf="userState.get('isEditing')">
  <div class="clearfix row no-margin">
    <div class="pull-left">
      <h4>{{ model.get('name') }}</h4>
    </div>
    <div class="pull-right ml-auto">
      <button class="button btn-sm no-margin" (click)="discardChanges()">Cancel</button>
      <button class="button btn-sm no-margin" (click)="saveModel()" [disabled]="!userState.get('formValid')">Save</button>
    </div>
  </div>
  <hr>
</div>