<app-font-awesome-toggle-button
  icon="comment"
  [checkedBool]="userState.get('showNodeLabels')"
  actionString="userState.setShowNodeLabels"
  ngbTooltip="toggle node labels"
  placement="right"
  container="body"
  >
</app-font-awesome-toggle-button>

<app-font-awesome-toggle-button
  icon="comment-o"
  [checkedBool]="userState.get('showLinkLabels')"
  actionString="userState.setShowLinkLabels"
  ngbTooltip="toggle link labels"
  placement="right"
  container="body"
  >
</app-font-awesome-toggle-button>

<app-slider-with-label
  min="1"
  max="10"
  step="1"
  label="Scale"
  [valueString]="userState.get('scale')"
  actionString="userState.setScale"
></app-slider-with-label>

<app-font-awesome-toggle-button
  icon="tree"
  [checkedBool]="userState.get('cascadingCollapse')"
  actionString="userState.setCascadingCollapse"
  ngbTooltip="Cascading Collapse"
  placement="right"
  container="body"
  >
</app-font-awesome-toggle-button>

<app-font-awesome-toggle-button
  icon="expand"
  [checkedBool]="userState.get('bidirectionalLinks')"
  actionString="userState.setBidirectionalLinks"
  ngbTooltip="Bidirectional Links"
  placement="right"
  container="body"
  >
</app-font-awesome-toggle-button>

<app-font-awesome-toggle-button
  icon="tree"
  [checkedBool]="userState.get('treeMode')"
  actionString="userState.setTreeMode"
  ngbTooltip="Tree Mode"
  placement="right"
  container="body"
  >
</app-font-awesome-toggle-button>

 <div ngbDropdown class="d-inline-block">
  <button class="button bs-lsg-navigation-button-add-on" ngbDropdownToggle>Link Type ({{userState.get('linkType')}})</button>
  <div class="dropdown-menu">
    <button class="dropdown-item" (click)="stateService.userState.setLinkType('line')">Line</button>
    <button class="dropdown-item" (click)="stateService.userState.setLinkType('path')">Path</button>
  </div>
</div>

<div ngbDropdown class="d-inline-block">
  <button class="button bs-lsg-navigation-button-add-on" ngbDropdownToggle>Node Sizing ({{userState.get('nodeSizingAutomatic')}})</button>
  <div class="dropdown-menu">
    <button class="dropdown-item" (click)="stateService.userState.setNodeSizingAutomatic(true)">Automatic</button>
    <button class="dropdown-item" (click)="stateService.userState.setNodeSizingAutomatic(false)">Manual</button>
  </div>
</div>

<div ngbDropdown class="d-inline-block">
  <button class="button bs-lsg-navigation-button-add-on" ngbDropdownToggle>Auto Connectivity ({{userState.get('autoConnectivity')}})</button>
  <div class="dropdown-menu">
    <button class="dropdown-item" (click)="stateService.userState.setAutoConnectivity('in')">In</button>
    <button class="dropdown-item" (click)="stateService.userState.setAutoConnectivity('out')">Out</button>
    <button class="dropdown-item" (click)="stateService.userState.setAutoConnectivity('both')">Both</button>
  </div>
</div>

<div ngbDropdown class="d-inline-block">
  <button class="button bs-lsg-navigation-button-add-on" ngbDropdownToggle>Auto Scale ({{userState.get('autoScale')}})</button>
  <div class="dropdown-menu">
    <button class="dropdown-item" (click)="stateService.userState.setAutoScale('linear')">Linear</button>
    <button class="dropdown-item" (click)="stateService.userState.setAutoScale('sqrt')">Square Root</button>
    <button class="dropdown-item" (click)="stateService.userState.setAutoScale('power')">Power</button>
  </div>
</div>
