<span class="pull-left">Gravity Points</span>
<button class="pull-right button btn-sm no-margin ml-auto" *ngIf="userState.get(USERSTATE.USER) && userState.get(USERSTATE.IS_EDITING_GRAVITY)" (click)="newGravityPoint()">
  <i class="fa fa-plus view-action"></i>
</button>
<div class="scrolling-list">
  <ul class="list-group scroll-list">
    <li class="list-group-item" *ngFor="let gp of userState.get(USERSTATE.GRAVITY_POINTS).valueSeq()">
      <span class="col-9">{{ gp.get('name') }}</span>
      <span class="col-3 text-right" *ngIf="userState.get(USERSTATE.USER) && userState.get(USERSTATE.IS_EDITING_GRAVITY)">
        <span (click)="deleteGravityPoint(gp.get('id'))">
          <i class="fa fa-trash view-action warning" ngbTooltip="delete" container="body"></i>
        </span>
      </span>
    </li>
  </ul>
</div>
