@import '../../../styles_colors';

:host {
  font-size: 14px;

  a,
  .clickable {
    text-decoration: underline;
  }

  i {
    color: $buildit-medgray;
  }

  .button
  &i,
  .fa-plus {
    color: $buildit-white !important;
    }

  .twiglet-name {
    position: relative;
    z-index: 2000;

    &.clickable {
      color: $buildit-blue;
    }
  }

  .event {
    display: inline-flex;

    .event-name {
      display: inline-block;
      max-width: 14em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
