<div class="breadcrumbs">
<a routerLink="/">Home</a>
<i class="fa fa-chevron-right btn-sm"></i>
<span (click)="goHome()" class="twiglet-name clickable" *ngIf="canGoToDefault()" ngbTooltip="Reset to Twiglet defaults" container="body">
  {{ twiglet.get(TWIGLET.NAME) }}
  <span *ngIf="userState.get(USERSTATE.CURRENT_EVENT)">[<span class="event-name">Event: {{ getEventName() }}</span>]</span>
</span>
<span class="twiglet-name" *ngIf="!canGoToDefault()">{{ twiglet.get(TWIGLET.NAME) }}</span>
<i class="fa fa-chevron-right btn-sm"></i>
<app-view-dropdown [userState]="userState" [twiglet]="twiglet" [views]="views"></app-view-dropdown>
</div>