@import '../../../styles_colors';

:host {
  font-size: 14px;

  .fa-chevron-right {
    color: $buildit-medgray;
  }

  .fa-question-circle {
    color: $buildit-blue;
    padding: 8px 0 0;
  }

  .extra-padding {
    padding: 8px 5px 0;
  }

  a,
  .underline {
    text-decoration: underline;
  }

  .new-view-btn {
    margin: 0 10px;
  }

  .button
  &i,
  .fa-plus {
    color: $buildit-white !important;
    }

  .twiglet-name {
    position: relative;
    z-index: 2000;

    &.clickable {
      color: $buildit-blue;
    }
  }

  .event {
    display: inline-flex;

    .event-name {
      display: inline-block;
      max-width: 14em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
