.copyGroup {
  position: absolute;
  margin-left: 5px;
}

.copy {
  float: left;
}

.paste {
  float: right;
}

.btn-group {
  position: relative;
  width: 50px;
  vertical-align: top;
}

i {
  cursor: pointer;
}
