@import '../../../styles_colors';

:host {
  height: 35px;
  margin-right: 5px;
  width: 50px;
}

// switch styles
.switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 40px;

  // Hide default HTML checkbox
  input {
    display: none;
  }
}

// The slider
.slider {
  background-color: darken($buildit-dkblue, 20%);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;

  &::before {
    background-color: $buildit-black;
    bottom: 4px;
    content: '';
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
  }

  &.disabled {
    &::after {
      content: '\274c';
      font-size: 18px;
      left: 12px;
      position: absolute;
    }
  }

  &.round {
    border-radius: 24px;

    &::before {
      border-radius: 50%;
    }
  }
}

input {
  &:focus + .slider {
    box-shadow: 0 0 1px  $buildit-blue;
  }

  &:checked + .slider {
    background-color:  $buildit-blue;

    &::before {
      transform: translateX(16px);
    }
  }
}

.clickable {
  cursor: pointer;
}

.twiglet-action {
  color: $buildit-blue;
  cursor: pointer;
  margin: 0 3px;
}

.twiglet-list-item {
  display: flex;
}

.view-action {
  color: $buildit-blue;
  cursor: pointer;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0 0 1px $toggle-button-scrollbar-thumb-box-shadow;
  background-color: $toggle-button-scrollbar-thumb-background-color;
  border-radius: 4px;
}





