<app-slider-with-label
  [disabled]="disabledControl()"
  min="0"
  max="1000"
  step="10"
  label="Charge Strength"
  [valueString]="viewData.get(VIEW_DATA.FORCE_CHARGE_STRENGTH)"
  actionString="twiglet.viewService.setForceChargeStrength"
></app-slider-with-label>

<app-slider-with-label
  [disabled]="disabledControl()"
  min="0"
  max="1"
  step="0.01"
  label="Gravity X"
  [valueString]="viewData.get(VIEW_DATA.FORCE_GRAVITY_X)"
  actionString="twiglet.viewService.setForceGravityX"
></app-slider-with-label>

<app-slider-with-label
  [disabled]="disabledControl()"
  min="0"
  max="1"
  step="0.01"
  label="Gravity Y"
  [valueString]="viewData.get(VIEW_DATA.FORCE_GRAVITY_Y)"
  actionString="twiglet.viewService.setForceGravityY"
></app-slider-with-label>

<app-slider-with-label
  [disabled]="disabledControl()"
  min="1"
  max="1000"
  step="10"
  label="Link Distance"
  [valueString]="viewData.get(VIEW_DATA.FORCE_LINK_DISTANCE)"
  actionString="twiglet.viewService.setForceLinkDistance"
></app-slider-with-label>

<app-slider-with-label
  [disabled]="disabledControl()"
  min="0"
  max="1"
  step="0.01"
  label="Link Strength"
  [valueString]="viewData.get(VIEW_DATA.FORCE_LINK_STRENGTH)"
  actionString="twiglet.viewService.setForceLinkStrength"
></app-slider-with-label>

<app-slider-with-label
  [disabled]="disabledControl()"
  min="0"
  max="1"
  step="0.01"
  label="Velocity Decay"
  [valueString]="viewData.get(VIEW_DATA.FORCE_VELOCITY_DECAY)"
  actionString="twiglet.viewService.setForceVelocityDecay"
></app-slider-with-label>

<app-slider-with-label
  [disabled]="disabledControl()"
  min="0"
  max="1"
  step="0.01"
  label="Alpha Target"
  [valueString]="viewData.get(VIEW_DATA.ALPHA_TARGET)"
  actionString="twiglet.viewService.setAlphaTarget"
></app-slider-with-label>

<app-slider-with-label
  [disabled]="disabledControl()"
  min="-10"
  max="100"
  step="1"
  label="Separation"
  [valueString]="viewData.get(VIEW_DATA.SEPARATION_DISTANCE)"
  actionString="twiglet.viewService.setSeparationDistance"
></app-slider-with-label>
