<div class="row changelog-menu" *ngIf="this.twiglet.get('name');">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="button" id="dropdownMenu1" ngbDropdownToggle>Change History</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <table class="table">
          <thead>
            <tr>
              <th>Message</th>
              <th>Author</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let change of changelog">
              <td class="col1">{{ change.message }}</td>
              <td class="col2">{{ change.user }}</td>
              <td class="col3">{{ change.timestamp | date: 'yyyy-MM-dd HH:MM:ss' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
