<input class="form-control" type="search" value="" (keyup)="setTextToFilterOn($event)" placeholder="Search">
<div class="row">
  <div class="col-xs-9">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-secondary col-xs-12" ngbDropdownToggle>Sort By: {{userState.sortNodesBy}}</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <button class="dropdown-item" (click)="setSortKey('type')">Type</button>
        <button class="dropdown-item" (click)="setSortKey('name')">Name</button>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <button class="col-xs-12 btn btn-secondary" (click)="toggleNodeSortOrder()">
      <i class="fa" [class.fa-chevron-down]="userState.sortNodesAscending"
                    [class.fa-chevron-up]="!userState.sortNodesAscending"></i>
    </button>
  </div>
</div>
<div class="overflow-scroll">
  <ngb-accordion [activeIds]="userState.currentNode" (panelChange)="beforeChange($event)" closeOthers="true">
    <ngb-panel *ngFor="let node of ((stateService.twiglet.nodes.observable | async) | immutableMapOfMaps | nodeSort : userState.sortNodesBy : userState.sortNodesAscending | nodeSearch : userState.textToFilterOn)"
        id="{{node.id}}">
      <template ngbPanelTitle>
        <div [style.color]="getColorFor(node)" class="row">
          <span style="font-family: FontAwesome; font-size: 15px;" class="col-xs-2">{{getNodeImage(node)}}</span>
          <span class="col-xs-10">{{node.name}}</span>
        </div>
      </template>
      <template ngbPanelContent>
        <app-node-info [node]="node"></app-node-info>
      </template>
    </ngb-panel>
  </ngb-accordion>
</div>
