:host {
  display: flex;
  flex-direction: column;
  input {
    flex: 0 0 30px;
  }
  height: 100%;
  .overflow-scroll {
    flex: 1;
    overflow: scroll;
  }
  .mini-row {
    display: flex;
  }
  .form-control {
    font-family: Arial, FontAwesome;
  }
}

