<div class="modal-header">
  <h4 class="modal-title">About {{ twigletName }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="!editMode">
    <div *ngIf="description" [innerHTML]="description | MarkdownToHtml | sanitizeHtml" id="description"></div>
    <p *ngIf="!description && userState.get('user')">{{ twigletName }} has no description! Click the edit button to add one.</p>
    <p *ngIf="!description && !userState.get('user')">{{ twigletName }} has no description!</p>    
  </div>
  <div *ngIf="editMode">
    <form [formGroup]="form">
      <div class="form-group">
        <textarea autosize name="description" class="form-control" formControlName="description"></textarea>
        <button type="button" class="btn btn-link" (click)="editMode = false">Cancel</button>              
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="button" (click)="activeModal.close('Close click')">Close</button>
  <button type="button" class="button edit" (click)="editMode = true" *ngIf="!editMode && userState.get('user')">Edit</button>  
  <button type="button" class="button save" (click)="processForm()" *ngIf="editMode">Save Changes</button>
</div>
