@import '../../../styles_colors';

:host {
  display: flex;
  flex: 1;
}

svg {
  cursor: default;
  height: 100%;
  user-select: none;
}

/deep/ .circle {
  cursor: pointer;
  fill: $buildit-white;
  stroke: $buildit-medgray;
  stroke-width: 1px;
}

/deep/ .gravity-circle {
  fill: $buildit-medgray;
  stroke-width: 1px;
}

/deep/ .link {
  fill: none;
  stroke: $buildit-medgray;
  stroke-opacity: .6;
  stroke-width: 1;
}

/deep/ .node-group {
  cursor: pointer;
}

/deep/ .gravity-point-group {
  cursor: pointer;
  fill: $buildit-white;
}

/deep/ .gravity-point-name {
  fill: $buildit-black;
}

/deep/ .invisible {
  display: none;
}


