:host {
  overflow: scroll;
  flex: 1;
}
svg {
  user-select: none;
  cursor: default;
}

/deep/ .circle {
  stroke-width: 1px;
  stroke: #ddd;
  fill: #fff;
  cursor: pointer;
}

/deep/ .gravity-circle {
  stroke-width: 1px;
  fill: #999999;
}

/deep/ .link {
  stroke: #999;
  stroke-opacity: 0.6;
  stroke-width: 1.0;
  fill: none;
}

/deep/ .node-group {
  cursor: pointer;
}

/deep/ .gravity-point-group {
  fill: white;
  cursor: pointer;
}

/deep/ .gravity-point-name {
  fill: #000000
}

/deep/ .invisible {
  display: none;
}


