<div class="control-group">
  <button class="button bs-lsg-navigation-button-add-on" (click)="createEvent()">Create Event</button>
</div>
<div class="control-group">
  <app-sequence-dropdown [sequences]="sequences"></app-sequence-dropdown>
</div>
<div class="divider-line"></div>
<div class="control-group">
  <button class="button bs-lsg-navigation-button-add-on" (click)="play()">
    <i class="fa" [class.fa-forward]="userState.get('isPlayingBack')" [class.fa-play]="!userState.get('isPlayingBack')"></i></button>
  <button class="button bs-lsg-navigation-button-add-on" (click)="stop()"><i class="fa fa-stop"></i></button>
</div>
<div class="control-group">
  <form class="form-inline">
    <label for="inlineFormInput">Slide Delay(sec):&nbsp;</label>
    <input type="number" class="form-control mb-1 mr-sm-1 mb-sm-0" name="playbackInterval" (ngModelChange)="setPlaybackInterval($event)" [ngModel]="userState.get('playbackInterval') / 1000" step="0.1" min="0.1" style="width: 75px">
  </form>
</div>
