<div class="control-group">
  <button *ngIf="userState.get('user')" class="button bs-lsg-navigation-button-add-on" (click)="createEvent()">Create Event</button>
</div>
<div class="control-group">
  <app-sequence-dropdown [sequences]="sequences" [userState]="userState"></app-sequence-dropdown>
</div>
<div class="divider-line"></div>
<div class="control-group">
  <button class="button bs-lsg-navigation-button-add-on" (click)="play()" *ngIf="!userState.get('isPlayingBack')"><i class="fa fa-play"></i></button>
  <button class="button bs-lsg-navigation-button-add-on" (click)="stop()" *ngIf="userState.get('isPlayingBack')"><i class="fa fa-stop"></i></button>
  <button class="button bs-lsg-navigation-button-add-on" (click)="stepBack()"><i class="fa fa-step-backward"></i></button>
  <button class="button bs-lsg-navigation-button-add-on" (click)="stepForward()"><i class="fa fa-step-forward"></i></button>
</div>
<div class="control-group">
  <form class="form-inline">
    <label for="inlineFormInput">Slide Delay(sec):&nbsp;</label>
    <input type="number" class="form-control mb-1 mr-sm-1 mb-sm-0" name="playbackInterval" (ngModelChange)="setPlaybackInterval($event)" [ngModel]="userState.get('playbackInterval') / 1000" step="0.1" min="0.1" style="width: 75px">
  </form>
</div>
