<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="button bs-lsg-navigation-button-add-on" id="dropdownMenu1" ngbDropdownToggle>Model</button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="dropdown-item clickable" (click)="openNewModelModal()">New Model</li>
        <hr>
        <li class="dropdown-item twiglet-list-item" *ngFor="let model of models">
          <span class="clickable" (click)="loadModel(model.get('name'))">{{ model.get('name') }}</span>
          <span class="pull-right">
            <button class="button bs-lsg-navigation-button-add-on" (click)="cloneModel(model.get('name'))">Clone</button>
            <button class="button warning bs-lsg-navigation-button-add-on" (click)="renameModel(model.get('name'))">Rename</button>
            <button class="button warning bs-lsg-navigation-button-add-on" (click)="deleteModel(model.get('name'))">Delete</button>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
