.col-md-5 {
  padding-left: 0;
  padding-right: 2px;
}

.flex-down {
  display: flex;
  flex-direction: column;
  padding-top: 40px;

  button {
    margin: 5px auto !important;
    text-align: center;
    width: 28px;
  }

  .col-md-2 {
    padding: 0;
  }

  .button {
    margin: 5px;
  }
}
