@import '../../../styles_colors';

:host {
  .button {
    :disabled {
      cursor: not-allowed;
      opacity: .65;

      :hover {
        background-color: $create-twiglet-modal-button-disabled-hover;
      }
    }
  }
}

