@import '../../../styles_colors';

:host {
  font-size: 14px;

  .twiglet-name {
    background-color: $delete-confirmation-twiglet-name-bg-color;
    border: 1px solid $delete-confirmation-twiglet-name-border-color;
    color: $delete-confirmation-twiglet-name;
    padding: 2px 4px;
    white-space: nowrap;
  }
}
