@import'../../../styles';

:host {
  flex: 1;

  .alert {
    margin: 3px;
  }

  .model-title {
    font-size: 16px;
  }

  .fa-trash,
  .fa-plus-square-o,
  .clickable,
  .fa-arrows-v {
    cursor: pointer;
  }

  form {
    height: 100%;
  }

  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    min-width: 100%;
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    max-height: 90%;
    max-width: 100%;
    min-height: 50%;
    width: 100%;
  }

  .info-header {
    border-bottom: 1px solid lighten($buildit-coal, 70%);
    display: flex;
    flex: 0 0 45px;
    font-size: 20px;
    font-weight: 800;
  }

  .new-button {
    margin-top: 0;
  }
}
