:host {
  flex: 1;

  .alert {
      margin: 3px;
  }

  .fa-trash, .fa-plus-square-o, .clickable, .fa-arrows-v {
      cursor: pointer;
  }

  form {
    height: 100%;
  }

  .form-row {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    max-height: 90%;
    min-height: 50%;
  }

  .info-header {
    display: flex;
    flex: 0 0 45px;
    font-weight: 800;
    font-size: 20px;
    border-bottom: 1px solid black;    
  }

  .fill-up {
    flex: 1;
    overflow-y: scroll;
    .entity-row {
      border-bottom: 1px solid black;
      padding: 10px 0;
    }
  }

  .new-button {
    margin-top: 0px;
  }
}
