<div class="top no-margin edit-mode">
    <div class="row no-margin">
        <div class="col-auto">
          <h4 class="model-title">{{ model.get(MODEL.NAME) }}</h4>
        </div>
      <div class="col text-right">
        <button class="button btn-sm btn-secondary new-button" (click)="addEntity()"><i class="fa fa-plus"></i> Add New Entity</button>
        <div class="edit-btn">
          <button class="button btn-sm btn-secondary no-margin" (click)="discardChanges()">Cancel</button>
          <button class="button btn-sm  no-margin" (click)="saveModel()" [disabled]="!userState.get(USERSTATE.FORM_VALID)">Save</button>
        </div>
      </div>
    </div>
  </div>
<form [formGroup]="form">
  <div class="container form">
    <div class="info-header">
      <div class="form-row">
        <div class="col-4">Type</div>
        <div class="col-2">Color</div>
        <div class="col-3">Icon</div>
        <div class="col-2">Preview</div>
        <div class="col-1"></div>
      </div>
    </div>
    <div class="fill-up" formArrayName="entities">
      <div class="form-row entity-row" *ngFor="let entity of form.controls[MODEL.ENTITIES]['controls']; let i = index" [formGroupName]="i">
        <div class="form-row">
          <div class="col-4">
            <input type="text" formControlName="type" class="form-control">
              <div class="alert alert-danger" *ngIf="validationErrors.getIn([MODEL.ENTITIES, i.toString(), 'type'])">
                {{ validationErrors.getIn([MODEL.ENTITIES, i.toString(), 'type']) }}
              </div>
          </div>
          <div class="col-2">
            <input type="color" formControlName="color">
          </div>
          <div class="col-3">
            <app-font-awesome-icon-picker [entity]="entity.controls"></app-font-awesome-icon-picker>
          </div>
          <div [style.color]="entity.controls.color.value" class="col-1">
            <i class="fa fa-{{entity.controls.class.value}} fa-2x"></i>
          </div>
          <div class="col-1" (click)="removeEntity(i, entity.controls.type)">
            <i class="fa fa-md fa-trash" ngbTooltip="Delete" placement="right"></i>
          </div>
        </div>
        <div class="form-row">
          <div class="form-row">
            <div class="col-2">
              <span class="clickable" (click)="toggleAttributes(i)">
                <span *ngIf="!expanded[i]">Show Attributes</span>
                <span *ngIf="expanded[i]">Hide Attributes</span>
              </span>
            </div>
            <div class="col-10">
              <button class="button btn-sm no-margin" (click)="addAttribute(i)" *ngIf="expanded[i]" ngbTooltip="Add Attribute" placement="right">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="form-row" formArrayName="attributes" *ngIf="expanded[i]">
            <div class="form-row">
              <div class="col-2"></div>
              <div class="col-3">Name*</div>
              <div class="col-3">Data Type</div>
              <div class="col-2">Required</div>
              <div class="col-1"></div>
              <div class="col-1"></div>
            </div>
            <div [dragula]="entity.value.type + '|' + i" style="width: 100%;" [dragulaModel]="entity.controls[MODEL_ENTITY.ATTRIBUTES]['controls']">
              <div class="form-row" *ngFor="let attribute of entity.controls[MODEL_ENTITY.ATTRIBUTES]['controls']; let j = index; let last = last;" [formGroupName]="j">
                <span class="col-1"></span>
                <span class="col-1"><i class="fa fa-arrows-v fa-2x"></i></span>
                <span class="col-3">
                  <input type="text" formControlName="name" class="form-control">
                  <div class="alert alert-danger" *ngIf="validationErrors.getIn([MODEL.ENTITIES, i.toString(), MODEL_ENTITY.ATTRIBUTES, j.toString(), MODEL_ENTITY_ATTRIBUTE.NAME])">
                    {{ validationErrors.getIn([MODEL.ENTITIES, i.toString(), MODEL_ENTITY.ATTRIBUTES, j.toString(), MODEL_ENTITY_ATTRIBUTE.NAME]) }}
                  </div>
                </span>
                <span class="col-3">
                  <select class="custom-select" formControlName="dataType">
                    <option value disabled selected>Select</option>
                    <option value="string">String</option>
                    <option value="integer">Integer</option>
                    <option value="float">Float</option>
                    <option value="timestamp">Timestamp</option>
                  </select>
                  <div class="alert alert-danger" *ngIf="validationErrors.getIn([MODEL.ENTITIES, i.toString(), MODEL_ENTITY.ATTRIBUTES, j.toString(), MODEL_ENTITY_ATTRIBUTE.DATA_TYPE])">
                    {{ validationErrors.getIn([MODEL.ENTITIES, i.toString(), MODEL_ENTITY.ATTRIBUTES, j.toString(), MODEL_ENTITY_ATTRIBUTE.DATA_TYPE]) }}
                  </div>
                </span>
                <span class="col-2"><input type="checkbox" formControlName="required" class="form-control"></span>
                <span class="col-1" (click)="removeAttribute(i, j)"><i class="fa fa-md fa-trash" ngbTooltip="Delete" placement="right"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
