<span class="key">Name:</span><span class="param">{{node.name}}</span>
<span class="node-info-type">
  <span class="key clickable" (click)="addTypeFilter(node.type)">Type:</span>
  <span class="param">{{node.type}}</span>
</span>
<span *ngIf="node.location" class="node-info-location">
  <span class="key">Location:</span><span class="param">{{node.location}}</span>
</span>
<span *ngIf="node.start_at node-info-start-at">
  <span class="key">Start:</span><span class="param">{{node.start_at}}</span>
</span>
<span *ngIf="node.end_at node-info-start-at">
  <span class="key">End:</span><span class="param">{{node.end_at}}</span>
</span>
<span *ngFor="let attr of node.attrs" class="node-info-attribute">
  <span *ngIf="attr.value">
    <span class="key clickable" (click)="addAttributeFilter(attr)">{{attr.key}}</span>
    <span class="param" *ngIf="validUrl(attr.value)"><a href="{{attr.value}}" _target="blank">{{attr.value}}</a></span>
    <span class="param" *ngIf="!validUrl(attr.value)">{{attr.value}}</span>
  </span>
</span>
