@import './node_modules/zzzss/scss/_colors.scss';

:host {
  .key {
    display: block;
    font-weight: bold;
  }
  .param {
    display: block;
    padding-left: 10px;
  }
  .clickable {
    text-decoration: underline;
    cursor: pointer;
    color: $brand-secondary-colour;
  }
}
