.fa {
  cursor: pointer;
}

.fa-trash {
  padding-left: 5px;
}

.btn-link.btn-sm {
  cursor: pointer;
  padding-left: 0px !important;
  text-decoration: underline;
}

.attr {
  padding-top: 10px;
}

.source {
  padding-top: 10px;
}