<div class="modal-header">
  <h4 class="modal-title">Link Editor</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group">
        <label for="association" class="control-label">Association:</label>
        <input type="text" class="form-control" name="association" formControlName="association">
      </div>
      <div class="form-group">
        <label for="start_at" class="control-label">Start:</label>
        <input type="date" class="form-control" name="start_at" formControlName="start_at">
      </div>
      <div class="form-group">
        <label for="end_at" class="control-label">End:</label>
        <input type="date" class="form-control" name="end_at" formControlName="end_at">
      </div>
      <div formArrayName="attrs">
        <label class="control-label">Attributes:</label>
        <div class="form-inline attr" *ngFor="let attribute of form.controls['attrs']['controls']; let i = index" [formGroupName]="i">
          <input type="text" class="form-control" name="attr-key-{{i}}" formControlName="key">
          <input type="text" class="form-control" name="attr-value-{{i}}" formControlName="value">
          <i class="fa fa-minus-circle" (click)="removeAttribute(i)"></i>
        </div>
        <i class="fa fa-plus-circle fa-2x" (click)="addAttribute()"></i>
      </div>
      <div class="form-group">
        <p><strong>Source: </strong>{{ sourceNode.get('name') }}</p>
        <p><strong>Target: </strong>{{ targetNode.get('name') }}</p>
      </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="button warning" (click)="deleteLink()">Delete</button>
  <button type="button" class="button" (click)="closeModal()">Close</button>
  <button type="button" class="button" (click)="processForm()">Save Changes</button>
</div>
