@import './node_modules/zzzss/scss/_colors.scss';

.circle {
  stroke-width: 1px;
  stroke: #ddd;
  fill: #fff;
  cursor: pointer;
}

:host /deep/ .modalTop {
  top: 100px;
}

:host /deep/ .bs-lsg-navigation-button-add-on {
  margin: 0;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  &.active {
    background-color: #05282e
  }
}

:host /deep/ .button-outline {
  border: 1px solid $brand-colour-blue;
  background-color: $brand-colour-white;
}


:host {
  .clickable {
    cursor: pointer;
  }
  .dropdown-menu {
    max-height: 240px;
    overflow-y: auto;
  }
  .twiglet-action {cursor: pointer; color: $brand-secondary-colour; margin:0px 3px;
  }
  .twiglet-list-item {
    display: flex;
  }
  .view-action {
    cursor: pointer;
    color: $brand-secondary-colour;
  }
  .warning {
    color: $button-warning-colour;
  }
  ::-webkit-scrollbar {-webkit-appearance: none; width: 7px;
  }
  ::-webkit-scrollbar-thumb {border-radius: 4px; background-color: rgba(0,0,0,.5); -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
}

