@import '../styles_colors';

.circle {
  cursor: pointer;
  fill: $app-circle-fill;
  stroke: $app-circle-stroke;
  stroke-width: 1px;
}

:host /deep/ .bs-lsg-navigation-button-add-on {
  display: inline-block;
  margin: 0;
  text-align: center;
  white-space: nowrap;

  &.active {
    background-color: $app-deep-navigation-button-add-on-active-bg-color;
  }
}

:host /deep/ .button-outline {
  background-color: $app-deep-button-outling-bg-color;
  border: 1px solid $app-deep-button-outling-border-color;
}


:host {
  .clickable {
    cursor: pointer;
  }

  .twiglet-action {
    color: $app-action-color;
    cursor: pointer;
    margin: 0 3px;
  }

  .twiglet-list-item {
    display: flex;
  }

  .view-action {
    color: $app-action-color;
    cursor: pointer;
  }

  .warning {
    color: $app-warning-color;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: 0 0 1px $app-scroll-bar-thumb-box-shadow;
    background-color: $app-scroll-bar-thumb-bg-color;
    border-radius: 4px;
  }
}

