@import '../../../styles_colors';

:host {
  .scrolling-list {
    box-sizing: border-box;
    height: auto;
    margin: 5px;
    max-height: 200px;
    overflow: scroll;
    width: 100%;
  }

  .active {
    background: $buildit-blue;
    font-weight: bolder;
  }

  .list-group-item {
    padding: 5px;
  }

  .clickable {
    cursor: pointer;
  }

  .float-right {
    padding-left: 25px;
  }

  .fa-check-circle {
    margin-right: 5px;
  }
}
