:host {
  .scrolling-list {
    height: auto;
    max-height: 200px;
    width: 100%;
    margin: 5px;
    box-sizing: border-box;
    overflow: scroll;
  }
  .list-group-item {
    padding: 5px;
  }
  .clickable {
    cursor: pointer;
  }
  .float-right {
    padding-left: 25px;
  }
  .fa-check-circle {
    margin-right: 5px;
  }
}
