@import '../../../styles_colors';

:host {
  .disabled {
    background-color: $buildit-ltgray;
  }

  .fa-trash,
  .fa-plus-circle {
    cursor: pointer;
  }

  .fa-trash {
    margin-left: 5px;
  }

  input {
    ::placeholder {
      color: $buildit-medgray;
      text-align: center;
    }
  }

  select {
    font-family: Arial, FontAwesome;
  }

  .d-inline-block {
    width: 100%;
  }

  .btn-link {
    .btn-sm {
      cursor: pointer;
      padding-left: 0 !important;
      text-decoration: underline;
    }
  }

  .attr,
  .small {
    padding-top: 10px;
  }
}
