<div class="modal-header">
  <h4 class="modal-title">Node Editor</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="form" (ngSubmit)="processForm()">
  <div class="modal-body">
    <div class="form-group">
      <label for="type" class="control-label">Type:</label>
      <div ngbDropdown class="d-inline-block">
        <button type="button" ngbDropdownToggle class="btn btn-outline-primary" id="entityDropdownMenu">
          <span *ngFor="let entity of entityNames">
            <i class="fa fa-{{entity.icon}}" [style.color]="entity.color" *ngIf="entity.type === nodeType"></i>
          </span>
          {{nodeType}}
        </button>
        <div ngbDropdownMenu aria-labelledby="entityDropdownMenu">
          <button type="button" *ngFor="let entity of entityNames" class="dropdown-item" (click)="setNodeType(entity)">
            <i class="fa fa-{{entity.icon}}" [style.color]="entity.color"></i> {{entity.type}}
          </button>
        </div>
      </div>
    </div>
    <div class="form-group">
        <label for="name" class="control-label">*Name:</label>
        <input #autofocus type="text" class="form-control" name="name" formControlName="name" required>
      </div>
      <div class="alert alert-danger" *ngIf="validationErrors.get('name')">
        {{ validationErrors.get('name') }}
      </div>
      <div class="form-group">
        <label for="gravityPoint" class="control-label">Gravity Point:</label>
        <select type="text" class="form-control" name="type" formControlName="gravityPoint">
          <option value="">No Gravity Point</option>
          <option *ngFor="let gp of userState.get(USERSTATE.GRAVITY_POINTS).valueSeq()" [selected]="this.node.get(NODE.GRAVITY_POINT) === gp.get('id')"
              value="{{gp.get('id')}}">{{gp.get('name') !== '' ? gp.get('name') : gp.get('id')}}</option>
        </select>
      </div>
    <div formArrayName="attrs">
      <button type="button" class="btn btn-link btn-sm" (click)="attrsShown = true" *ngIf="!attrsShown">Show Attributes</button>
      <div *ngIf="attrsShown">
        <button type="button" class="btn btn-link btn-sm" (click)="attrsShown = false">Hide Attributes</button>
        <button type="button" class="ml-auto no-margin button btn-sm" (click)="addAttribute()" ngbTooltip="Add Attribute" placement="right">
          <i class="fa fa-plus"></i>
        </button>
        <div class="form-inline attr" *ngFor="let attribute of form.controls['attrs']['controls']; let i = index" [formGroupName]="i">
          <label class="form-control col-6 disabled key" *ngIf="attribute.controls.dataType.value">
            <span *ngIf="attribute.controls.required.value">*</span>{{ attribute.controls.key.value }} ({{ attribute.controls.dataType.value }})
          </label>
          <input type="text" class="form-control col-6 key" formControlName="key" *ngIf="!attribute.controls.dataType.value" placeholder="Attribute label">
          <input type="text" class="form-control value" formControlName="value" placeholder="Attribute value">
          <i class="fa fa-trash" (click)="removeAttribute(i)" *ngIf="attribute.controls.dataType.value ? false : true" ngbTooltip="Delete" placement="right"></i>
          <div class="alert alert-danger col-12" *ngIf="validationErrors.getIn(['attrs', i.toString(), 'key'])">
            {{ validationErrors.getIn(['attrs', i.toString(), 'key']) }}
          </div>
          <div class="alert alert-danger col-12" *ngIf="validationErrors.getIn(['attrs', i.toString(), 'value'])">
            {{ validationErrors.getIn(['attrs', i.toString(), 'value']) }}
          </div>
        </div>
        <p *ngIf="!form.controls['attrs']['controls'].length" class="small">This node has no attributes.</p>
      </div>
    </div>
    <div class="alert alert-danger col-12" *ngIf="validationErrors.get('newNode')">
      {{ validationErrors.get('newNode') }}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="button btn-sm btn-secondary" id="deleteButton" (click)="deleteNode()">Delete</button>
    <button type="button" class="button btn-sm btn-secondary" (click)="closeModal()">Close</button>
    <button type="submit" class="button btn-sm" [disabled]="!form.valid" *ngIf="!this.newNode">Update Node</button>
    <button type="submit" class="button btn-sm" [disabled]="!form.valid" *ngIf="this.newNode">Add Node</button>
  </div>
</form>
