@import './node_modules/zzzss/scss/_colors.scss';

:host {
  .disabled {
    background-color: $light-gray;
  }
  .fa-trash, .fa-plus-circle {
    cursor: pointer;
  }   
  .fa-trash{
    margin-left: 5px;
  }
  input::placeholder {
    color: $gray;
    text-align: center;
  }
  select {
    font-family: Arial, FontAwesome;
  }
  .d-inline-block {
    width: 100%;
  }
}
