<!--<span *ngIf="userState.get('mode') === 'twiglet'">
  {{twiglet.get('name') || 'Loading...'}}
  <span *ngIf="userState.get('currentViewName')"> | {{userState.get('currentViewName')}}</span>
  <span class="simulating" *ngIf="userState.get('isSimulating')">({{simulatingString}} -> Alpha Target {{userState.get('alphaTarget')}})</span>
</span>
<span *ngIf="userState.get('mode') === 'twiglet.model'">{{twiglet.get('name') + ' > Model' || 'Loading...'}}</span>
<span *ngIf="userState.get('mode') === 'model'">{{model.get('name') || 'Loading...'}}</span>-->
<nav class="navbar navbar-default">
  <div class="d-flex justify-content-start">
  <a class="navbar-brand align-items-start" routerLink="/">Twig</a>
  <ul class="nav ml-auto">
    <li><a class="nav-link" routerLink="/">Home</a></li>
    <li><a class="nav-link" routerLink="/twiglet">Twiglet</a></li>
    <li><a class="nav-link" routerLink="/model">Model</a></li>
    <li><a class="nav-link" routerLink="/about">About</a></li>
    <li>
      <a class="nav-link" routerLink="/">
        <app-login-button [userState]="userState"></app-login-button>
      </a>
    </li>
  </ul>
  </div>
</nav>