@import './node_modules/zzzss/scss/_colors.scss';

:host {
  font-size: 14px;
  line-height: 1;
  background-color: $brand-colour-header;
  color: white;
  display: block;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.fa-home, .fa-info {
  cursor: pointer;
}

.fa-info {
  padding-left: 10px;
}

.simulating {
  font-family: "Lucida Console", Monaco, monospace,
}
