<p>
  twiglet-graph works!
</p>

<svg width="500" height="500">

</svg>

<p>
  <input [(ngModel)]="formNode.id" placeholder="id">
  <input [(ngModel)]="formNode.name" placeholder="name">
  <input [(ngModel)]="formNode.type" placeholder="image">
  <button (click)="addNode()">Add</button>
</p>

<p *ngFor="let node of (nodesService.observable | async).data">
  <b>ID: </b>{{node[1].get('id')}}<br>
  <b>Name: </b>{{node[1].name}}<br>
  <b>Type: </b>{{node[1].type}}<br>
  <b>x: </b>{{node[1].x}}<br>
  <b>y: </b>{{node[1].y}}<br>
  <b>fx: </b>{{node[1].fx}}<br>
  <b>fy: </b>{{node[1].fy}}<br>
</p>

