<p>
  twiglet-graph works!
</p>

<svg width="500" height="500">

</svg>

<p>
  <input [(ngModel)]="formNode.id" placeholder="id">
  <input [(ngModel)]="formNode.name" placeholder="name">
  <input [(ngModel)]="formNode.type" placeholder="image">
  <button (click)="addNode()">Add</button>
</p>

<p *ngFor="let node of ((nodesService.observable | async).data | immutableMapOfMaps)">
  <b>ID: </b>{{node.id}}<br>
  <b>Name: </b>{{node.name}}<br>
  <b>Type: </b>{{node.type}}<br>
  <b>x: </b>{{node.x}}<br>
  <b>y: </b>{{node.y}}<br>
  <b>fx: </b>{{node.fx}}<br>
  <b>fy: </b>{{node.fy}}<br>
  <button (click)="removeNode(node)">Delete</button>
</p>

