<svg [attr.width]="width" [attr.height]="height">
  <g id="linksG"></g>
  <g id="nodesG"></g>
  <defs>
      <filter id="glow" x="-5000%" y="-5000%" width="10000%" height="10000%">
          <feFlood result="flood" flood-color="#000000" flood-opacity="1"></feFlood>
          <feComposite in="flood" result="mask" in2="SourceGraphic" operator="in"></feComposite>
          <feMorphology in="mask" result="dilated" operator="dilate" radius="4"></feMorphology>
          <feGaussianBlur in="dilated" result="blurred" stdDeviation="5"></feGaussianBlur>
          <feMerge>
              <feMergeNode in="blurred"></feMergeNode>
              <feMergeNode in="SourceGraphic"></feMergeNode>
          </feMerge>
      </filter>
      <marker id="marker-arrow" markerWidth="7" markerHeight="7" refx="4" refy="4" orient="auto">
       <path d="M 1 1 7 4 1 7 Z" class="marker"/>
      </marker>
    </defs>
</svg>

