@import'../../../styles_colors';

:host {
  .slider {
    // width: 200px;
    //height: 35px;
    border: 1px solid $slider-with-label-slider-border;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    padding-left: 3px;
    padding-right: 3px;
  }

  label {
    flex: 1;
    margin: 0;
    text-align: center;
  }

  .slider-right {
    display: flex;
    flex: 4;
    flex-direction: column;
    margin-left: 3px;
  }

  input {
    [type='number'] {
      flex: 1;
      font-size: 16px;
      text-align: right;
    }

    [type='range'] {
      flex: 1;
    }
  }
}
// Base Colors
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;

// Reset
* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

// Range Slider
$range-width: 100% !default;
$range-handle-color: $buildit-blue !default;
$range-handle-color-hover: $buildit-dkblue;
$range-handle-size: 20px !default;
$range-track-color: lighten($buildit-gray, 20%) !default;
$range-track-height: 2px !default;
$range-label-color: $buildit-white !default;
$range-label-width: 50px !default;

.range-slider {
  margin: 0;
  width: $range-width;
}


.range-slider-range {
  -webkit-appearance: none;
  background: $range-track-color;
  border-radius: 5px;
  height: $range-track-height;
  margin: 0; // Range Handle
  outline: none;
  padding: 0;
  width: calc(100% - (#{$range-label-width + 13px}));

  &::-webkit-slider-thumb {
    appearance: none;
    background: $range-handle-color;
    border-radius: 50%;
    cursor: pointer;
    height: $range-handle-size;
    transition: background .15s ease-in-out;
    width: $range-handle-size;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active {
    ::-webkit-slider-thumb {
      background: $range-handle-color-hover;
    }

    ::-moz-range-thumb {
      background: $range-handle-color-hover;
    }
  }

  &::-moz-range-thumb {
    background: $range-handle-color;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: $range-handle-size;
    transition: background .15s ease-in-out;
    width: $range-handle-size;

    &:hover {
      background: $range-handle-color-hover;
    }
  }
}

// Range Label
.range-slider-value {
  background: lighten($buildit-gray, 15%);
  border-radius: 3px;
  color: lighten($buildit-gray, 70%);
  display: inline-block;
  font-size: 14px !important;
  line-height: 20px;
  margin-left: 0;
  padding: 2px 5px;
  // padding: 3px;
  position: relative;
  text-align: center;
  width: $range-label-width;

  &::after {
    border-bottom: 7px solid transparent;
    border-right: 7px solid $range-label-color;
    border-top: 7px solid transparent;
    content: '';
    height: 0;
    left: -7px;
    position: absolute;
    top: 8px;
    width: 0;
  }
}

// Firefox Overrides
::-moz-range-track {
  background: $range-track-color;
  border: 0;
}

input {
  ::-moz-focus-inner,
  ::-moz-focus-outer {
    border: 0;
  }
}

.range-slider-wrap {
  margin: 10px 0 0;
}
