<div class="modal-header">
  <h4 class="modal-title">About Twig</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>Version: </strong>{{ userState.get('ping').version }}</p>
  <p><strong>User: </strong>
    <span *ngIf="userState.get('user')">{{ userState.get('ping').authenticated.user.name }}</span>
    <span *ngIf="!userState.get('user')">N/A</span>
  </p>
  <p><strong>Configuration: </strong></p>
    <ul>
      <li><strong>LDAP_URL: </strong>{{ userState.get('ping').config.LDAP_URL }}</li>
      <li><strong>LOG_CONSOLE: </strong>{{ userState.get('ping').config.LOG_CONSOLE }}</li>
      <li><strong>LOG_FILE: </strong>{{ userState.get('ping').config.LOG_FILE }}</li>
      <li><strong>LOG_LEVEL: </strong>{{ userState.get('ping').config.LOG_LEVEL }}</li>
      <li><strong>DB_URL: </strong>{{ userState.get('ping').config.DB_URL }}</li>
      <li><strong>TENANT: </strong>{{ userState.get('ping').config.TENANT }}</li>
    </ul>
</div>

