<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="button bs-lsg-navigation-button-add-on" id="modelDropdownMenu" ngbDropdownToggle>Model</button>
      <ul class="dropdown-menu" aria-labelledby="modelDropdownMenu">
        <li class="dropdown-item clickable" (click)="openNewModelModal()" *ngIf="userState.get('user')">New Model</li>
        <hr *ngIf="userState.get('user')">
        <li class="dropdown-item model-list-item" *ngFor="let model of models">
          <span class="clickable col-6" (click)="loadModel(model.get('name'))">{{ model.get('name') }}</span>
          <span class="col-6 text-right">
            <span (click)="cloneModel(model.get('name'))" *ngIf="userState.get('user')"><i class="fa fa-files-o fa-2x model-action" ngbTooltip="clone" container="body"></i></span>
            <span (click)="renameModel(model.get('name'))" *ngIf="userState.get('user')"><i class="fa fa-strikethrough fa-2x model-action" ngbTooltip="rename" container="body"></i></span>
            <span (click)="deleteModel(model.get('name'))" *ngIf="userState.get('user')"><i class="fa fa-trash fa-2x model-action warning" ngbTooltip="delete" container="body"></i></span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
