@import './node_modules/zzzss/scss/_colors.scss';

:host {
  .clickable {
    cursor: pointer;
  }

  .dropdown-menu {
    max-height: 230px;
    overflow-y: auto;
  }

  .model-action {
    cursor: pointer;
    color: $brand-secondary-colour
  }

  .warning {
    color: $button-warning-colour
  }

  .model-list-item {
    display: flex;
  }
}
