@import '../../../styles_colors';

:host {
  .clickable {
    cursor: pointer;
  }

  .dropdown-menu {
    max-height: 240px;
    overflow-y: auto;
  }

  .model-action {
    color: $model-dropdown-model-action-color;
    cursor: pointer;
  }

  .warning {
    color: $model-dropdown-warning-color;
  }

  .model-list-item {
    display: flex;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: 0 0 1px $model-dropdown-scrollbar-thumb-box-shadow;
    background-color: $model-dropdown-scrollbar-thumb-bg-color;
    border-radius: 4px;
  }
}
