@import '../../../styles_colors';

:host {
  .clickable {
    cursor: pointer;
  }

  .fa {
    padding: 0 2px;
  }

  .model-action {
    color: $buildit-blue;
    cursor: pointer;
  }

  .warning {
    color: $buildit-warning;
  }

  .model-list-item {
    display: flex;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: 0 0 1px ($buildit-black, .5);
    background-color: ($buildit-black, .5);
    border-radius: 4px;
  }
}
