:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .overflow-scroll {
    flex: 1;
    overflow: scroll;
  }

  .full-width {
    width: 100%;
  }

  .inactive {
    text-decoration: line-through;
  }

  .wrap-white-space {
    white-space: normal !important;
  }

  textarea {
    height: 90%;
  }

  div {
    padding-bottom: 5px;
  }

  select {
    margin-bottom: 5px;
  }

  button {
    cursor: pointer;
  }

  .target-text {
    left: 15px;
    position: relative;
  }

}

