:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  .overflow-scroll {
    flex: 1;
    overflow: scroll;
  }
  
  .full-width {
    width: 100%;
  }

  .inactive {
    text-decoration: line-through;
  }

  .wrap-white-space {
    white-space: normal !important;
  }

  textarea {
    height: 90%;
  }
  
  div {
    padding-bottom: 5px;
  }

  select {
    margin-bottom: 5px;
  }

  button {
    cursor: pointer;
  }
  
}

