<div class="overflow-scroll" #container>
  <form [formGroup]="form">
    <div *ngFor="let filter of form.controls; let i = index" [formGroupName]="i" class="twiglet-filter">
      <select formControlName="type" class="form-control">
        <option value="">All</option>
        <option *ngFor="let typeOption of types" [selected]="typeOption === filter.controls.type.value">{{typeOption}}</option>
      </select>
      <div formArrayName="attributes">
        <div *ngFor="let attribute of filter.controls.attributes.controls; let j = index; " [formGroupName]="j">
          <select formControlName="key" class="form-control">
            <option value="">All</option>
            <option *ngFor="let key of keys(filter)" [selected]="key === attribute.controls.key.value">{{key}}</option>
          </select>
          <select formControlName="value" class="form-control">
            <option value="">All</option>
            <option *ngFor="let value of values(attribute)" [selected]="value === attribute.controls.value.value">{{value}}</option>
          </select>
        </div>
      </div>
      <div *ngIf="filter.controls._target">
        <p>Target</p>
        <app-twiglet-filter-target [targetControl]="filter.controls._target" [types]="types" [twiglet]="twiglet"></app-twiglet-filter-target>
        <button (click)="removeTarget(i)">Remove Target</button>
      </div>
      <div *ngIf="!filter.controls._target">
        <button (click)="addTarget(i)">Add Target</button>
      </div>
      <button (click)="removeFilter(i)">Remove Filter</button>
      <hr>
    </div>
    <button (click)="addFilter()">Add Filter</button>
  </form>
</div>