<div class="overflow-scroll" #container>
  <form [formGroup]="form">
    <div *ngFor="let filter of form.controls; let i = index" [formGroupName]="i" class="twiglet-filter">
      <select formControlName="type" class="form-control">
        <option value="">All Node Types</option>
        <option *ngFor="let typeOption of types" [selected]="typeOption === filter['controls'].type.value">{{ typeOption }}</option>
      </select>
      <div formArrayName="attributes">
        <div *ngFor="let attribute of filter['controls'].attributes.controls; let j = index; " [formGroupName]="j">
          <select formControlName="key" class="form-control" *ngIf="keys(filter).length || attribute.controls.key.value !== ''">
            <option value="">All Attributes</option>
            <option *ngFor="let key of keys(filter)" [selected]="key === attribute.controls.key.value">{{key}}</option>
          </select>
          <select formControlName="value" class="form-control" *ngIf="values(attribute).length || attribute.controls.value.value !== ''">
            <option value="">All Attribute Values</option>
            <option *ngFor="let value of values(attribute)" [selected]="value === attribute.controls.value.value">{{value}}</option>
          </select>
        </div>
      </div>
      <div *ngIf="filter['controls']._target">
        <p class="target-text">Target</p>
        <app-twiglet-filter-target [targetControl]="filter['controls']._target" [types]="types" [twiglet]="twiglet"></app-twiglet-filter-target>
        <button class="button btn-sm" (click)="removeTarget(i)">Remove Target</button>
      </div>
      <div *ngIf="!filter.controls._target">
        <button class="button btn-sm" (click)="addTarget(i)">Add Target</button>
      </div>
      <button class="button btn-sm" (click)="removeFilter(i)">Remove Filter</button>
      <hr>
    </div>
    <button class="button btn-sm" (click)="addFilter()">Add Filter</button>
  </form>
  <hr>
  <p>Filter By Depth</p>
  <form [formGroup]="levelSelectForm">
    <select formControlName="level" class="form-control">
      <option value="-1" [selected]="userState.get(USERSTATE.LEVEL_FILTER) === '-1'">All</option>
      <option *ngFor="let level of getLevels()" [selected]="level === userState.get(USERSTATE.LEVEL_FILTER)">{{ level }}</option>
    </select>
  </form>
</div>
