<div class="modal-header">
  <h4 class="modal-title">Login</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="form">
  <div class="modal-body">
    <div class="form-group" [ngClass]="{'has-danger':!form.controls['email'].valid && form.controls['email'].touched}">
        <label for="email" class="control-label">Email:</label>
        <input type="email" class="form-control" name="email" formControlName="email" required>
      </div>
      <ngb-alert [dismissible]="false" type="danger" *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched">You must enter an email!</ngb-alert>
      <ngb-alert [dismissible]="false" type="danger" *ngIf="form.controls['email'].hasError('validateEmail') && !form.controls['email'].hasError('required')
      && form.controls['email'].touched">You must enter a valid email!</ngb-alert>
      <div class="form-group" [ngClass]="{'has-danger':!form.controls['password'].valid && form.controls['password'].touched}">
        <label for="password" class="control-label">Password:</label>
        <input type="password" class="form-control" name="password" formControlName="password" required>
      </div>
      <ngb-alert [dismissible]="false" type="danger" *ngIf="!form.controls['password'].valid && form.controls['password'].touched">You must enter a password!</ngb-alert>
      <ngb-alert [dismissible]="false" type="danger" *ngIf="errorMessage">{{ errorMessage }}</ngb-alert>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="logIn()" [disabled]="!form.valid">Login</button>
  </div>
</form>
