<div class="overflow-scroll">
  <div *ngFor="let event of eventsList.valueSeq()" class="card event-item">
    <div class="card-block">
      <h4 class="card-title">{{event.get('name')}}</h4>
      <p class="card-text">{{event.get('description')}}</p>
      <i class="fa fa-eye fa-2x float-left align-top card-text" ngbTooltip="preview" on-mouseover="preview(event.get('id'))" on-mouseleave="original()"></i>
      <i class="fa fa-trash fa-2x float-left align-top card-text clickable" ngbTooltip="delete" (click)="deleteEvent(event)" *ngIf="!event.get('memberOf')"></i>
      <template #cantDelete>
        <strong>In:</strong>
        <span style="display: block;width: 100%;text-align: left;" *ngFor="let name of event.get('memberOf')">{{name}}</span>
      </template>
      <i class="fa fa-trash fa-2x float-left align-top card-text grey" [ngbTooltip]="cantDelete" container="body" *ngIf="event.get('memberOf')"></i>
      <label class="custom-control custom-checkbox float-right">
        <input type="checkbox" class="custom-control-input" [checked]="event.get('checked')" (change)="updateEventSequence(event.get('id'), $event)">
        <span class="custom-control-indicator"></span>
      </label>
    </div>
  </div>
</div>
