:host {
  height: 100%;
  display: flex;
  .overflow-scroll {
    flex: 1;
    overflow: scroll;
  }
  i {
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 2px;
    border-radius: 10px;
    margin-top: -8px;
  }
  .clickable {
    cursor: pointer;
  }
  .fa-trash {
    margin-left: 2px;
  }
  .custom-control-indicator {
    transform: scale(2.3);
  }
  .grey {
    color: #999999;
  }
}
