<div class="row changelog-menu">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="button bs-lsg-navigation-button-add-on" id="dropdownMenu1" ngbDropdownToggle>Change History</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <ul class="list-group">
          <li class="list-group-item fixed">
            <div class="col-6"><h4>Message</h4></div>
            <div class="col-3 nowrap"><h4>Author</h4></div>
            <div class="col-3 nowrap"><h4>Date</h4></div>
          </li>
          <li class="list-group-item" *ngFor="let change of changelog; let i = index;" [class.strikeout]="(i - 1 >= 0) && changelog.get(i - 1).get('replacement')">
            <div class="col-1" *ngIf="(i - 1 >= 0) && changelog.get(i - 1).get('replacement')"><i class="fa fa-ban"></i></div>
            <div [class.col-6]="(i - 1 < 0) || !changelog.get(i - 1).get('replacement')" [class.col-5]="(i - 1 >= 0) && changelog.get(i - 1).get('replacement')">{{change.get('message')}}</div>
            <div class="col-3 nowrap">{{change.get('user')}}</div>
            <div class="col-3 nowrap">{{ change.get('timestamp') | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
