
:host {
  li { background: white; }
  li:nth-child(even) {
    background: #eeeeee;
  }
  .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    width: 80vw;
    overflow-x: auto;
    }

  .nowrap {
    white-space: nowrap;
  }

  .strikeout {
    text-decoration: line-through;
    :first-child {
      text-align: center;
    }
    i {
      color: red;
    }
  }
}
