<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="button bs-lsg-navigation-button-add-on" id="twigletDropdownMenu" ngbDropdownToggle>Twiglet</button>
      <ul class="dropdown-menu" aria-labelledby="twigletDropdownMenu">
        <li class="dropdown-item clickable" (click)="openNewModal()" *ngIf="userState.get('user')">New Twiglet</li>
        <hr *ngIf="userState.get('user')">
        <li class="dropdown-item twiglet-list-item" *ngFor="let twiglet of twiglets">
          <span class="clickable col-6" (click)="loadTwiglet(twiglet.get('name'))">{{ twiglet.get('name') }}</span>
          <span class="col-6 text-right">
            <span (click)="openAbout(twiglet.get('name'), twiglet.get('description'))"> <i class="fa fa-info-circle fa-2x twiglet-action" ngbTooltip="about" container="body"></i></span>
            <span (click)="cloneTwiglet(twiglet)" *ngIf="userState.get('user')"><i class="fa fa-files-o fa-2x twiglet-action" ngbTooltip="clone" container="body"></i></span>
            <span (click)="renameTwiglet(twiglet.get('name'))" *ngIf="userState.get('user')"><i class="fa fa-strikethrough fa-2x twiglet-action" ngbTooltip="rename" container="body"></i></span>
            <a href="{{twiglet.get('json_url')}}" download><i class="fa fa-download fa-2x twiglet-action" ngbTooltip="download" container="body"></i></a>
            <span (click)="deleteTwiglet(twiglet.get('name'))" *ngIf="userState.get('user')"><i class="fa fa-trash fa-2x twiglet-action warning" ngbTooltip="delete" container="body"></i></span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
