<p>
  <b>ID: </b><span class="node-paramater">{{node.id}}</span><br>
  <b>Name: </b><span class="node-paramater">{{node.name}}</span><br>
  <b>Type: </b><span class="node-paramater">{{node.type}}</span><br>
  <b>x: </b><span class="node-paramater">{{node.x}}</span><br>
  <b>y: </b><span class="node-paramater">{{node.y}}</span><br>
  <b>fx: </b><span class="node-paramater">{{node.fx}}</span><br>
  <b>fy: </b><span class="node-paramater">{{node.fy}}</span><br>
  <button (click)="removeNode(node)">Delete</button>
</p>
