<h4>
  Technical Details
  <i [appDismissibleHelp]="helpText" class="fa fa-question-circle float-right clickable" placement="right-top">
    <ng-template #helpText>
        <p><strong>About</strong> - displays technical details for Twig/Twig-Api used in debugging, and the signed-in user.</p>
    </ng-template>
  </i>
</h4>
<div class="pull-left">
  <p *ngIf="userState.get(USERSTATE.PING)" class="api-version"><strong>API Version: </strong>{{ userState.get(USERSTATE.PING).version }}</p>
  <p class="user-info"><strong>User: </strong>
    <span *ngIf="userState.get(USERSTATE.USER)">{{ userState.get(USERSTATE.USER).user.name }}</span>
    <span *ngIf="!userState.get(USERSTATE.USER)">N/A</span>
  </p>
</div>
<div class="pull-right">
  <ul *ngIf="userState.get(USERSTATE.PING) && userState.get(USERSTATE.PING).config" class="api-config">
    <li><strong>LOG_CONSOLE: </strong>{{ userState.get(USERSTATE.PING).config.LOG_CONSOLE }}</li>
    <li><strong>LOG_FILE: </strong>{{ userState.get(USERSTATE.PING).config.LOG_FILE }}</li>
    <li><strong>LOG_LEVEL: </strong>{{ userState.get(USERSTATE.PING).config.LOG_LEVEL }}</li>
    <li class="db-url"><strong>DB_URL: </strong>{{ userState.get(USERSTATE.PING).config.DB_URL }}</li>
  </ul>
</div>
