<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Filters</button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <a class="dropdown-item" (click)="selectEntity('All')" href="#" [class.active]="userState.filterEntity === 'All'">
          All</a>
        <a class="dropdown-item" *ngFor="let entity of entityNames" (click)="selectEntity(entity)"
          href="#" [class.active]="userState.filterEntity === entity">{{ entity }}</a>
      </ul>
    </div>
  </div>
</div>
