<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block" [autoClose]="false">
      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Filters</button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="dropdown-item" (click)="emptyFilter()" href="#" [class.active]="!userState.get('filterEntities').length">
          All</li>
        <li class="dropdown-item dropdown-entity" *ngFor="let entity of entityNames" (click)="selectEntity(entity)"
          href="#" [class.active]="checkFilter(entity) === true">{{ entity }}</li>
      </ul>
    </div>
  </div>
</div>
