@import './styles_colors';
// You can add global styles to this file, and also import other style files

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.no-margin {
  margin: 0;
}

label {
  font-size: 14px;
}

// header

h4,
.info-header {
  font-size: 16px !important;
  line-height: 20px;
}

h4 {
  .bump {
    margin-bottom: 20px;
  }
}

.nav-link {
  color: $app-scroll-bar-thumb-box-shadow;

  .active {
    border-bottom: 1px solid $buildit-blue !important;
    color: $buildit-blue !important;
    font-weight: bold;
  }

  :hover {
    border-bottom: 1px solid lighten($buildit-blue, 10%) !important;
    color: lighten($buildit-blue, 10%) !important;
  }

  .sign-in {
    margin-top: -3px;

    :hover {
      border-bottom: 0 !important;
    }
  }
}

.navbar-brand {
  color: $app-scroll-bar-thumb-box-shadow;
}

.nodes-wrap {
  height: 45px;
  overflow-x: scroll;
  white-space: nowrap;
}

// accordion
.card-block {
  background-color: $buildit-gray;
  color: $buildit-white;
  max-width: 250px;
  padding: 1rem 2rem;
}

.card-header {
  background-color: $buildit-black;
  border: solid 1px lighten($buildit-gray, 20%);
  color: $buildit-blue !important;
  padding: 0;

  .active {
    a {
      color: $buildit-white;
      font-weight: bold;
      text-decoration: none !important;

      :hover {
        color: $buildit-white;
        font-weight: bold;
        text-decoration: none !important;
      }
    }
  }

  a {
    color: $buildit-blue;

    :hover {
      color: $buildit-white;
      font-weight: bold;
      text-decoration: none !important;
    }
  }

  a,
  span {
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
  }
}

.entity-header {
  border: 1px solid $styles-entity-header-border-color;
  padding: 20px 10px;

  a,
  span {
    padding: 0;
    width: auto;
  }
}

.entity-child {
  margin-top: 0;
  padding: 0;

  // Should this just be a class at this point?
  .row {
    .node {
      span {
        padding: 0 0 0 10px;
      }
    }
  }
}

.key,
.param {
  font-size: 14px;
}

.key {
  display: block;
  font-weight: bold;
  padding-left: 10px;
}

.param {
  display: block;
  margin-bottom: 10px;
  padding-left: 15px;
}

.clickable {
  color: $styles-clickable-color;
  cursor: pointer;
}

.circle {
  cursor: pointer;
  fill: $styles-circle-cursor-fill;
  stroke: $styles-circle-cursor-stroke;
  stroke-width: 1px;
}

:host /deep/ .modal-top {
  top: 100px;
}

:host /deep/ .bs-lsg-navigation-button-add-on {
  display: inline-block;
  margin: 0;
  text-align: center;
  white-space: nowrap;

  &.active {
    background-color: $app-deep-navigation-button-add-on-active-bg-color;
  }
}

:host /deep/ .button-outline {
  background-color: $app-deep-button-outling-bg-color;
  border: 1px solid $buildit-blue;
}

.scroll-list {
  font-size: 14px;

  li {
    padding: .5rem;
  }
}

.scrolling-list {
  margin: 0 !important;

  .list-group {
    margin: 5px 0;

    li {
      background-color: lighten($buildit-gray, 20%);
      color: $buildit-white !important;
      font-size: 14px;
      margin-bottom: 0;
      padding: 5px 10px !important;
      text-decoration: none !important;

      a {
        background-color: lighten($buildit-gray, 20%);
        color: $buildit-white !important;
        font-size: 14px;
        margin-bottom: 0;
        text-decoration: none !important;

        :hover {
          background-color: lighten($buildit-gray, 20%);
          color: $buildit-white !important;
          font-size: 14px;
          margin-bottom: 0;
          text-decoration: none !important;
        }
      }
    }

    .clickable {
      background-color: lighten($buildit-gray, 20%);
      color: $buildit-white !important;
      font-size: 14px;
      margin-bottom: 0;
      text-decoration: none !important;
    }
  }
}

.node-circle {
  background-color: $styles-node-circle-bg-color;
  border-radius: 50%;
  display: inline-block;
  height: 28px;
  padding-top: 2px;
  text-align: center;
  width: 28px;

  .child {
    margin: 0 5px 0 15px;
  }
}

.nodepanel {
  .card-header {
    a {
      display: inline-block;
      text-decoration: none;
    }
  }
}

.twiglet-filter {
  border-bottom: 1px solid lighten($buildit-gray, 10%);
}

// buttons

.btn-group {
  .editbtns {
    .button {
      margin-top: 5px;
    }
  }
}

.button {
  background-color: $buildit-blue;
  color: $buildit-white;
  text-decoration: none;
  text-transform: capitalize;

  :focus {
    background-color: $buildit-blue;
    color: $buildit-white;
    text-decoration: none;
    text-transform: capitalize;
  }

  :hover {
    background-color: lighten($buildit-blue, 10%);
  }

  .disabled,
  :disabled,
  disabled {
    background-color: $buildit-blue !important;
    border: 0 !important;
    color: $buildit-white !important;
    cursor: not-allowed;
    opacity: .4;
    text-decoration: none;
    text-transform: capitalize;
  }
}

.toggle-group {
  width: 100%;

  .slider {
    float: right;

    .round {
      float: right;
    }
  }
}

.btn-sm {
  font-size: 14px !important;
  padding: .25rem .5rem !important;
}

.btn-secondary {
  background-color: $buildit-white;
  border: solid 2px $buildit-blue;
  color: $buildit-blue;
  padding: 2px 8px !important;

  :focus {
    background-color: $buildit-white;
    border: solid 2px $buildit-blue;
    color: $buildit-blue;
    padding: 2px 8px !important;

    :hover {
      background-color: $styles-btn-secondary-hover-color;
      border: solid 2px $buildit-dkblue !important;
      border-color: lighten($buildit-blue, 10%);
      color: lighten($buildit-blue, 10%);
    }
  }

  :hover {
    background-color: $styles-btn-secondary-hover-color;
    border: solid 2px $buildit-dkblue !important;
    border-color: lighten($buildit-blue, 10%);
    color: lighten($buildit-blue, 10%);
  }

  .disabled,
  :disabled {
    background-color: $buildit-white !important;
    border: solid 2px $buildit-blue !important;
    color: $buildit-blue !important;
    cursor: not-allowed;
    opacity: .4;
    padding: 2px 8px !important;
  }
}

.bump-right {
  margin-right: 20px;
}

.bump-top40 {
  margin-top: 40px;
}

.pull-right {
  .inputs {
    margin-top: 3px;
  }
}

.fill-up {
  flex: 1;
  overflow-y: scroll;

  .entity-row {
    border-bottom: 1px solid lighten($buildit-gray, 70%) !important;
    padding: 10px 0;
  }
}

.form-row {
  .entity-row {
    margin-bottom: 20px !important;
    padding-bottom: 30px !important;
  }
}

// main

.mainframe {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  height: 100%;
  padding: 10px;
}

// main dropdown select

.selectbox {
  background-color: $styles-selectbox-bg-color !important;
  border: solid 1px lighten($buildit-gray, 70%);
  color: $styles-selectbox-color;
  font-size: 14px;
  padding: 4px;
  text-transform: capitalize;

  .dropdown-item {
    padding: 0;

    span {
      // Should these just be classes?
      .fa {
        margin: 0 4px;

        :hover {
          margin: 0 4px;
        }
      }
    }
  }

  .col-6 {
    color: $buildit-blue !important;
  }
}

.maindropdown {
  .dropdown-item {
    font-size: 14px;
    margin: 5px 0;
    padding: 0;
    width: 400px;

    .new {
      background-color: lighten($buildit-gray, 70%) !important;
      padding: 0 15px;
    }
  }
}

.twigname {
  cursor: pointer;
  display: inline-block;
  width: 100%;
}

// What is :host doing here?
:host {
  .clickable {
    cursor: pointer;
  }

  .dropdown-menu {
    max-height: 240px;
    overflow-y: auto;
  }

  .twiglet-action {
    color: $buildit-blue;
    cursor: pointer;
    margin: 0 3px;
  }

  .twiglet-list-item {
    display: flex;
  }

  .view-action {
    color: $buildit-blue;
    cursor: pointer;
  }

  .warning {
    color: $styles-host-warning;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: 0 0 1px $app-scroll-bar-thumb-box-shadow;
    background-color: $app-scroll-bar-thumb-bg-color;
    border-radius: 4px;
  }
}

// edit screens
.info-header {
  font-size: 16px;
}

.edit-tab {
  background-color: $styles-edit-tab-bg-color !important;
  border: 0 !important;
  border-radius: 3px 3px 0 0;
  color: $buildit-blue !important;
  margin: 0 5px;
  padding: 5px 10px;

  :focus {
    background-color: $styles-edit-tab-bg-color !important;
    border: 0 !important;
    border-radius: 3px 3px 0 0;
    color: $buildit-blue !important;
    margin: 0 5px;
    padding: 5px 10px;
  }

  .active {
    background-color: $buildit-dkblue !important;
    color: $styles-edit-tab-active-color !important;
  }

  :hover {
    text-decoration: underline;
  }
}

.node-image {
  dominant-baseline: central;
  font-family: 'FontAwesome';
  text-anchor: middle;
}

.node-name {
  font-size: .75em;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.full-height {
  height: 100vh;
}

.flex-across {
  display: flex;
  flex-direction: row;
}

// events
.list-group-item {
  .event-list-item {
    .active {
      background-color: $buildit-blue;
    }
  }

  span {
    background-color: transparent !important;
    border: 0;

    .fa {
      background-color: transparent !important;
      border: 0;
    }
  }
}

// sliders

.card {
  border: 0 !important;
}

.right-bar,
.left-bar {
  background-color: $buildit-gray;
}

.range-slider-range {
  height: 2px !important;
}

.range-slider-value {
  background-color: lighten($buildit-gray, 20%);
  border: 0;
  color: lighten($buildit-gray, 70%);
  flex: 1;
  font-size: 14px;
  margin-right: 5px;
  padding: 2px;
  text-align: right;
}

app-footer {
  background-color: $buildit-black !important;

  p {
    color: $buildit-white;
    font-size: 12px;
    padding: 10px;
  }
}

// search and other controls

.form-control {
  background-color: lighten($buildit-gray, 20%);
  border: solid 1px $buildit-black;
  color: $buildit-white;
  font-size: 14px !important;

  .search {
    background-color: lighten($buildit-gray, 20%);
    border: solid 1px $buildit-black;
    color: $buildit-white;
    font-size: 14px !important;
  }

  :focus {
    background-color: $styles-form-control-focus-bg-color;
    color: $styles-form-control-focus-color;

    .dropdown-item {
      background-color: lighten($buildit-gray, 20%);
      border: solid 1px $buildit-black;
      color: $buildit-white;
      font-size: 14px !important;
    }
  }
}

.modal-body {
  .form-control {
    .search {
      background-color: $styles-modal-body-form-control-search-bg-color;
      color: $styles-modal-body-form-control-search-color;
    }
  }
}

// Wouldn't all these be covered by scss compilation?
::-webkit-input-placeholder {
  // Chrome/Opera/Safari
  color: lighten($buildit-gray, 70%) !important;
}

::-moz-placeholder {
  // Firefox 19+ */
  color: lighten($buildit-gray, 70%) !important;
}

:-ms-input-placeholder {
  // IE 10+ */
  color: lighten($buildit-gray, 70%) !important;
}

:-moz-placeholder {
  // Firefox 18- */
  color: lighten($buildit-gray, 70%) !important;
}
