
@import './node_modules/zzzss/scss/_colors.scss';
@import 'styles_colors.scss';
/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/*header*/
.nav-link, .navbar-brand{color:#fff;}
.nav-link.active{border-bottom: 1px solid $brand-colour-blue; }


/*accordion*/
.card-block{padding:1rem 2rem; max-width:250px;}
.card-header{
  padding:0;
}
.card-header  a, .card-header  span,  {padding:10px 20px; width:100%; display:inline-block;}


.circle {
  stroke-width: 1px;
  stroke: #ddd;
  fill: #fff;
  cursor: pointer;
}

:host /deep/ .modalTop {
  top: 100px;
}

:host /deep/ .bs-lsg-navigation-button-add-on {
  margin: 0;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  &.active {
    background-color: #05282e
  }
}

:host /deep/ .button-outline {
  border: 1px solid $brand-colour-blue;
  background-color: $brand-colour-white;
}
/*buttons*/
.button, .button.bs-lsg-navigation-button-add-on, .btn-group, .button.btn.bs-lsg-navigation-button-add-on,
.button.bs-lsg-navigation-button-add-on.dropdown-toggle{background-color:#1678c2;}
.toggle-group{width:100%;
  .slider.round, .slider{float:right}
}

/*main*/
.mainframe{padding:10px; font-size:14px;}

/*main dropdown select*/
.selectbox{background-color:#fff !important; color:#333; text-transform:capitalize; border:solid 1px #ccc; padding:5px; font-size:14px; 
   .dropdown-item{padding:0;
      .dropdown-item span .fa{margin: 0px 4px;}
   }
}
#maindropdown .dropdown-item{width:400px;padding:0px; font-size:14px;}
#maindropdown .dropdown-item.new{padding:0px 15px;}

:host {
  .clickable {
    cursor: pointer;
  }
  .dropdown-menu {
    max-height: 240px;
    overflow-y: auto;
  }
  .twiglet-action {cursor: pointer; color: $brand-secondary-colour; margin:0px 3px;
  }
  .twiglet-list-item {
    display: flex;
  }
  .view-action {
    cursor: pointer;
    color: $brand-secondary-colour;
  }
  .warning {
    color: $button-warning-colour;
  }
  ::-webkit-scrollbar {-webkit-appearance: none; width: 7px;
  }
  ::-webkit-scrollbar-thumb {border-radius: 4px; background-color: rgba(0,0,0,.5); -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
}


.node-image {
  text-anchor: middle;
  dominant-baseline: central;
  font-family: 'FontAwesome';
}

.node-name {
  font-size: 0.75em;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.full-height {
  height: 100vh;
}

.flex-across {
  display: flex;
  flex-direction: row;
}