// brand-colors
$buildit-black: #000;
$buildit-blue: #1678c2;
$buildit-coal: #1b1c1d;
$buildit-dkblue: #667c98;
$buildit-dkgray: #333;
$buildit-ltgray: #efefef;
$buildit-medgray: #999;
$buildit-medltgray: #ccc;
$buildit-red: #aa0b0b;
$buildit-warning: #f0ad4e;
$buildit-white: #fff;
$buildit-yellow: #fcff00;

