// brand-colors
$buildit-blue: #1678c2;
$buildit-dkblue: #667c98;
$buildit-white: #fff;
$buildit-black: #000;
$buildit-gray: #1b1c1d;
$buildit-yellow: #fcff00;
$buildit-ltgray: #efefef;
$buildit-medltgray: #ccc;
$buildit-medgray: #999;
$buildit-dkgray: #333;
// for cleanup
$event-checkbox-color: #4c4f52;
$twig-canvas-fill: #999;
$twig-canvas-white: #fff;
$header-twiglet-light-grey: #d3d3d3;
$header-twiglet-grey: #808080;
$header-twiglet-second-grey: #999;
$header-twiglet-white: #fff;
$header-twiglet-light-blue: #add8e6;
$header-twiglet-blue: #00f;
$header-twiglet-edit-button-border-color: #ccc;
$event-list-border: rgba(0, 0, 0, .125);
$event-list-grey: #999;
$edit-node-modal-input-placeholder: #777;
$edit-node-modal-disabled-class-background: #eee;
$create-twiglet-modal-button-disabled-hover: #299baf;
$create-twiglet-modal-or-border: #ccc;
$create-twiglet-or-text-background: #fff;
$create-twiglet-or-text-border: #ccc;
$toggle-button-scrollbar-thumb-background-color: rgba(0, 0, 0, .5);
$toggle-button-scrollbar-thumb-box-shadow: rgba(255, 255, 255, .5);
$slider-with-label-slider-border: #999;
$loading-spinnner-background-color: #333;
$font-awesome-icon-dropdown-bg-color: #fff;
$font-awesome-icon-dropdown-border-color: rgba(0, 0, 0, .15);
$font-awesome-icon-dropdown-color: #292b2c;
$delete-confirmation-twiglet-name: #d14;
$delete-confirmation-twiglet-name-bg-color: #f7f7f9;
$delete-confirmation-twiglet-name-border-color: #e1e1e8;
$model-info-entity-row-even-child-background: #eee;
$model-info-entity-attribute-even-child-background: #777;
$model-info-entity-attribute-even-child-color: #fff;
$model-dropdown-model-action-color: #4682b4;
$model-dropdown-warning-color: #f0ad4e;
$model-dropdown-scrollbar-thumb-box-shadow: rgba(255, 255, 255, .5);
$model-dropdown-scrollbar-thumb-bg-color: rgba(0, 0, 0, .5);
$header-model-edit-btn-border-color: #ccc;
$header-background-color: #1c1f22;
$header-color: #fff;
$app-circle-fill: #fff;
$app-circle-stroke: #ddd;
$app-deep-navigation-button-add-on-active-bg-color: #05282e;
$app-deep-button-outling-bg-color: #fff;
$app-deep-button-outling-border-color: #4682b4;
$app-warning-color: #f0ad4e;
$app-action-color: #4682b4;
$app-scroll-bar-thumb-bg-color: rgba(0, 0, 0, .5);
$app-scroll-bar-thumb-box-shadow: rgba(255, 255, 255, .5);
$styles-navbar-brand-color: #fff;
$styles-entity-header-border-color: rgba(0, 0, 0, .125);
$styles-circle-cursor-fill: #fff;
$styles-circle-cursor-stroke: #ddd;
$styles-node-circle-bg-color: #fff;
$styles-selectbox-color: #333;
$styles-selectbox-bg-color: #fff;
$styles-btn-secondary-hover-color: #fff;
$styles-host-warning: #f0ad4e;
$styles-form-control-focus-bg-color: #fff;
$styles-form-control-focus-color: #333;
$styles-edit-tab-bg-color: #fff;
$styles-edit-tab-active-color: #fff;
$styles-modal-body-form-control-search-bg-color: #fff;
$styles-modal-body-form-control-search-color: #333;
$styles-clickable-color: #4682b4;

