<app-font-awesome-toggle-button
  icon="comment"
  checkedString="userState/showNodeLabels"
  actionString="userState.setShowNodeLabels"
  ngbTooltip="toggle node labels"
  placement="right"
  container="body"
  >
</app-font-awesome-toggle-button>

<div class="slider">
  <label for="scaleSettingSlider">Scale ({{userState.scale}})</label>
  <input type="range" class="form-control" min=1 max=10 step="1"
    [value]="userState.scale"
    (change)="stateService.userState.setScale($event.target.value)"
    id="scaleSettingSlider"
  >
</div>
