<app-font-awesome-toggle-button
  icon="comment"
  checkedString="userState/showNodeLabels"
  actionString="userState.setShowNodeLabels"
  ngbTooltip="toggle node labels"
  placement="right"
  container="body"
  >
</app-font-awesome-toggle-button>

<app-font-awesome-toggle-button
  icon="comment-o"
  checkedString="userState/showLinkLabels"
  actionString="userState.setShowLinkLabels"
  ngbTooltip="toggle link labels"
  placement="right"
  container="body"
  >
</app-font-awesome-toggle-button>

<app-slider-with-label
  min="1"
  max="10"
  step="1"
  label="Scale"
  valueString="userState/scale"
  actionString="userState.setScale"
></app-slider-with-label>

<app-filter-menu></app-filter-menu>
