@import './node_modules/zzzss/scss/_colors.scss';

.clickable {
  cursor: pointer;
}

.dropdown-menu {
   max-height: 265px;
   overflow-y: auto; 
}

.view-action {
  cursor: pointer;
  color: $brand-secondary-colour;
}

.warning {
  color: $button-warning-colour;
}
