<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="button bs-lsg-navigation-button-add-on" id="viewDropdownMenu" ngbDropdownToggle>View</button>
      <ul class="dropdown-menu" aria-labelledby="viewDropdownMenu">
        <li class="dropdown-item clickable" (click)="newView()">New View</li>
        <hr>
        <li class="dropdown-item view-list-item" *ngFor="let view of views | sortImmutable : 'name'">
          <span class="clickable" (click)="loadView(view.get('name'))">{{ view.get('name') }}</span>
          <span class="pull-right">
            <button class="button warning bs-lsg-navigation-button-add-on" (click)="editView(view)">Overwrite</button>
            <button class="button warning bs-lsg-navigation-button-add-on" (click)="deleteView(view)">Delete</button>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
